/* Online Exam css*/
body
{
	margin: 0 auto;
	padding: 0;
	background-color: #fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px
}
html, body {
    height:100%;
}
table 
{
	font-size: 13px;
}


a{ outline: 0; }
img{ border-style: none; }
.rounded
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 1px;
	border:1px solid #ccc;
}
.alink {color: #0066aa; font-size:12px; text-decoration:none;}
.alink:hover { color: green; font-size:12px; text-decoration:none;}
#line { background:#f9f9f9; height:2px; display:block; width:100%}

#outerwrapper
{
	width: 980px;
	margin: 0 auto;
	background-color:#f2f2f2;
	-moz-border-radius: 5px;
	-web-kit-radius: 5px;
	border-radius: 5px;
	border:1px solid #999;
}

/* Header Css*/

#header
{
	border: 1px solid #ccc;
	background-color:white;
	
	
	height: auto;
	width:100%;
	margin:2px auto;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	color: #888888;
	padding-bottom: 5px;
}

.headerlinks
{
	margin: 0 auto;
	text-align:right;
	padding-bottom:15px;
}


.headerlinks li
{
	display: inline;
	list-style-type: none;
	padding-right: 10px;
}

.headerlinks li a
{
	color: #bbb;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
}

.headerlinks li a:link
{
	color: #bbb;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
}

.headerlinks li a:visited, .headerlinks  li a:active
{
	color: #bbb;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
}

.headerlinks li a:hover
{
	color: #fffccc;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
}


#searchbar
{
	border-bottom:1px solid #ddd;
	margin: 0px 4px 0px 2px;
	text-align:right;
	padding-bottom:5px;
	
}
input#search {color: #bbb; padding:2px;}
#gobutton 
{ 
 	background-color: #919191;
    border: medium none;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.6em;
    font-weight: bold;
    padding: 3px;
    text-align: center;
}

#timer
{
	text-align:center;
	font-size:1em;
	
	font-weight:bold;
	color: #bf3030;
	height:50px;
	 border:solid 1px #ccc;
	 margin-bottom:10px
}
#timer span
{ position:relative;font-size:12px}
.timer_head{
height:25px;background:#1C94C4;top:5px}
.timer_head span
{font-size:12px !important; position:relative}

.buttons
{
	background: url('../images/registration_back.gif');
	color: #FFFFCC;
	padding:5px;
	font-weight: bold;
	margin:0px;
	border:none;
	font-size: 13px;
	text-decoration:none;
	-moz-border-radius: 5px;
	-web-kit-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
}

/* Content Css*/

#content
{
	background-color:#fff;
	
	
	
	width:100%;
	
}

#content h2 { color:#555;text-align: center;}

#content p {  /* font-family:Arial, Helvetica, sans-serif; font-size: 12px; color: #666; */}

#tbl_empdetails_wrapper, #logintable_wrapper
{
	background-color: #f1f1f1;
	border: 1px solid #999;
	width:400px;
	/*height:200px;*/
	margin:auto;
	padding:0px;
}

#tbl_candidatedetails, #logintable
{
	border: 0 none;
    font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
    padding: 0;
	margin-top:10px;
	width: 100%;
}

#register-link
{
	padding: 10px 0;
	border-top: 1px solid #ccc;
	background: #eef;
	text-align: center;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

#mandatory{ font-family: Arial, Helvetica, sans-serif; font-size:11px; }

.red {color: #FF0000; margin-left:5px;}
.green { color:#339966;}

.textfield { padding:4px; }

.bgblue {background: #f0f9ff; color:#6784c9; display:block; border:1px solid #f0f9ff; padding:5px;  font-size:14px; font-weight: bold; border:1px solid #BCE4FF;}

.questions
{
	margin: 0px 0px 0px 5px;
	padding:0px;
	/*border:1px solid red;*/
	height:25px;
}


.questions li
{
	display: inline;
	list-style-type: none;
	text-align:center;
	padding:0px 2px 3px 2px;
	border: 1px solid #BCE4FF;
}

.questions li a:link
{
	color: #bbb;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	display:inline;
	padding: 1px 5px;
	
}

.questions li a:visited, .questions li a:active
{
	color: #000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	/*padding: 2px 5px 5px 5px;*/
	padding: 1px 5px;
}
.questions li a:hover
{
	color: #fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	display:inline;
	background-color:#3399FF
	
}

#questions_wrapper{ height: 250px; font-family:Arial, Helvetica, sans-serif; color:#333;}

#test_question_paper
{
	background-color:#fff;
	margin: 10px;
	padding: 10px;
	border:1px solid #e1e1e1;
	height:100%;
	color:#666699;
}

#test_question_paper p { font-family:Arial, Helvetica, sans-serif; font-size:14px; letter-spacing:.2pt; color:#666699;}

#tbl_single_question { font-family:Arial, Helvetica, sans-serif; font-size:14px; letter-spacing:.2pt; color:#996699;}
.guidelines
{
	text-align:left;
	padding-bottom:12px;
	list-style-image: url('../images/carot2.gif');
}

.guidelines li
{
	font-size:13px;	
	padding:5px;
}

.border_blue {border:1px solid #BCE4FF; padding:5px;}

#tbl_dashboard, #tbl_preferences { font-size:14px; color: #666;}


.dashboard_menus
{
	margin: 10px 0px 0px 5px;
	padding:0px;
	/*border:1px solid red;*/
	height:25px;
}


.dashboard_menus li
{
	display: inline;
	list-style-type: none;
	text-align:center;
	/*padding:0px 2px 3px 2px;*/
	
	/*border: 1px solid #BCE4FF;*/
}

.dashboard_menus li a:link
{
	color: #000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	display:inline;
	/*padding: 1px 5px;*/
	
}

.dashboard_menus li a:visited, .dashboard_menus li a:active
{
	color: #565656;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	/*padding: 2px 5px 5px 5px;*/
	/*padding: 1px 5px;*/
	padding:3px;
}
.dashboard_menus li a:hover
{
	color: #000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	display:inline;
	/*background-color:#88C2FC;*/
	background-color:#b3def4;
	
}

/*.preferences_leftnavigation {text-align:left;	padding-bottom:12px; padding:0px; margin:0px -5px 0px 0px;}
.preferences_leftnavigation .active { background-color:red; display:block;}
.preferences_leftnavigation li {padding:2px; list-style-type:none; background-color:#f3f3f3; margin:2px;}
.preferences_leftnavigation li a:link, a.active {font-size:12px; padding:5px; color:#777; text-decoration:none; font-weight:bold;}
.preferences_leftnavigation li a:active, .preferences_leftnavigation li a:visited {font-size:12px; padding:5px; color:#777; text-decoration:none; font-weight:bold;}
.preferences_leftnavigation li a:hover {font-size:12px; padding:5px; color:#AF5403; text-decoration:none; font-weight:bold;}*/


ul.preferences_leftnavigation{
    display: block;
    width: 120px;
    /*background-color: Silver;*/
    list-style-type: none;
    padding-top: 19px;
    padding-bottom: 40px;
	margin:0px;
	padding-left:5px;  
}
ul.preferences_leftnavigation li{
    width: 120px;
	text-align:left;

    margin-bottom: 6px;
}
ul.preferences_leftnavigationli a,
ul.preferences_leftnavigation li a:visited {
    display: block;
    color: white;
    background-color: #bbb;
    /*margin-left: 10px;*/
    padding: 5px 2px 5px 5px;
    text-decoration: none;
    border-right: 1px solid #999;
}
ul.preferences_leftnavigationli.active a,
ul.preferences_leftnavigation li.active a:hover,
ul.preferences_leftnavigation li.active a:visited,
ul.preferences_leftnavigation li a:hover {
    display: block;
    color: black;
	padding: 5px 2px 5px 5px;
    background-color: #efefef;
	/*border-top: 1px solid #ccc;*/
    border-right: 1px solid #efefef;
	/*border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;*/
}

#dashboard_iframe { margin:0px; padding:0px;}
#questions_iframe { margin:0px; padding:0px;}


#tbl_testdetails
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}

#tbl_testdetails .subheading { font-size:12px; color: #af5403; font-weight:bold;}

#results_wrapper
{
	background-color:#fff;
	padding:5px;
	margin: 10px;
}

#tbl_resultinfo { font-size:14px; color: #666;}

#txt {
  border:none;
  font-family:verdana;
  font-size:12px;
  font-weight:bold;
  /*border-right-color:#FFFFFF;*/
}

#tbl_search_reports, #tbl_reports, #tbl_download_reports { font-size:12px;}

.tblheading {background-color:#fff; font-size:14px; color: #af5403; font-weight:bold; text-align:center;}
.tdbggrey {background-color:#F3F3F3; font-size:14px; color: #333333; text-align:center;}
.tdbgwhite {background-color:#ffffff; font-size:14px; color: #333333; text-align:center;}

#discussion
{
	padding:5px;
	border: 1px solid #C9E3FC;
	background-color:#f0f9ff;
	-moz-border-radius: 5px;
	-web-kit-radius: 5px;
	border-radius: 5px;
}

/*** Form css***/

legend {color:#af5403; margin-left:8px;}

.normal
{ 
	background-color:#fff; 
	border:1px solid #ccc; 
	padding:4px; 
	-moz-border-radius: 5px; 
	-web-kit-radius: 5px;
	border-radius: 5px;
}
.focus
{ 
	background-color:#EFFFF0; 
	border:1px solid #ccc; 
	padding:4px; 
	-moz-border-radius: 5px; 
	-web-kit-radius: 5px;
	border-radius: 5px;
}

/**********pagination*********/
div.pagination {
	padding: 3px;
	margin: 3px;
	
}

div.pagination a {
	
	margin: 2px;

	text-decoration: none; /* no underline */
	
	float: left;
	background: url("images/btn_icon.png") no-repeat scroll -31px -67px transparent;
	height:30px;
	width:35px;
	color: #000;
	float: left;
	text-align:center;
	padding-top:12px
}
div.pagination a:hover, div.pagination a:active {
	font-weight: bold;
}
div.pagination span.current {
	
	margin: 2px;
	height:30px; width:35px;
	
	font-weight: bold;
	background-position:-32px -4px;
	background: url('images/btn_icon.png') no-repeat scroll -32px -4px transparent;
	color: #fff;
	float: left;
	text-align:center;
	padding-top:5px
}
/*div.pagination span.unattepmted {
	
	margin: 2px;
	height:30px; width:35px;
	
	font-weight: bold;
	background-position:-32px -4px;
	background: url('images/btn_icon.png') no-repeat scroll -32px -4px transparent;
	color: #fff;
	float: left;
	text-align:center;
	padding-top:5px
}*/
div.pagination span.disabled 
{
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #EEE;
	color: #DDD;
}
	

/*ul{border:0; margin:0; padding:0;}
#pagination
{
	text-align:right;
	border:0; margin:0; padding:0;
}

#pagination li{
border:0; margin:0; padding:0;
font-size:11px;
list-style:none;
margin-right:2px;
}
#pagination li a{
margin-right:2px;
border:solid 1px #0e509e;
}
#pagination .previous-off,
#pagination-digg .next-off {
border:solid 1px #DEDEDE;
color:#888888;
display:block;
float:left;
font-weight:bold;
margin-right:2px;
padding:3px 4px;
}
#pagination.next a,
#pagination .previous a {
font-weight:bold;
}
#pagination .active{
background:#2e6ab1;
color:#FFFFFF;
font-weight:bold;
display:block;
float:left;
padding:4px 6px;
}
#pagination li a:link,
#pagination li a:visited {
color:#2966a9;
display:block;
float:left;
padding:3px 6px;
text-decoration:none;
}
#pagination li a:hover{
background-color: #2e6ab1;
color:#fff;
}
*/
.zebra { 
  background-color: #dddddd;
  color: #666666;
}

tr.zebraHover {
  background-color: #FFFACD;

}
#tbl_totalquestions
{
color:#333;
font-family:arial,sans-serif;
font-size:13px;
width: 100%;
}

.currentTd
{
	background: #1C94C4;
	color: #efeff5;
	padding: 5px 15px;
	font-weight: bold;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
	font-size: 12px;	
}

a.other
{
	text-decoration: none;
	cursor:pointer;
	display: block;
	color: #1C94C4;
	padding: 5px 15px;
	background: #efeff5;
	font-weight: bold;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
	font-size: 12px;
}
a.other:HOVER
{
	color: #f5f5ee;
	background: #2EA6D6;
}

.match_tab
{
	width: 500px;
	padding: 20px;
	border-collapse: collapse;
	border: 1px solid #e5e5e5;
}
.match_tab td
{
	border: 1px solid #e5e5e5;
	width: 50%;
}

div.pagination a.attepmted
{
	
	float: left;
	background: url('images/btn_icon.png') no-repeat scroll -72px 4px transparent;
	height:30px;
	width:35px;
	color: #fff;
	float: left;
	text-align:center;
	padding-top:13px
}
div.pagination a.attepmted
{
	
	float: left;
	background:url("images/btn_icon.png") no-repeat scroll -72px 4px transparent;
	height:30px;
	width:35px;
	color: #fff;
	float: left;
	text-align:center;
	padding-top:12px
}
div.pagination a.unattepmted
{
	
	float: left;
	background: url('images/btn_icon.png') no-repeat scroll -32px 4px transparent;
	height:30px;
	width:35px;
	color: #fff;
	float: left;
	text-align:center;
	padding-top:13px
}
div.pagination a.unattepmted
{
	
	float: left;
	background: url('images/btn_icon.png') no-repeat scroll -32px 4px transparent;
	height:30px;
	width:35px;
	color: #fff;
	float: left;
	text-align:center;
	padding-top:12px
}
div.pagination a.reviwe_attmp 
{
	
	float: left;
	background: url('images/btn_icon.png') no-repeat scroll -70px -69px transparent;
	height:30px;
	width:35px;
	color: #fff;
	float: left;
	text-align:center;
	padding-top:12px
}
div.pagination a.current
{
	
	float: left;
	background: url('images/btn_icon.png') no-repeat scroll -32px -4px transparent;
	height:30px;
	width:35px;
	color: #fff;
	float: left;
	text-align:center;
	padding-top:5px
}
div.pagination a.current
{
	
	float: left;
	background: url('images/btn_icon.png') no-repeat scroll -32px 4px transparent;
	height:30px;
	width:35px;
	color: #fff;
	float: left;
	text-align:center;
	padding-top:12px
}

a.ques-nav-link
{
	text-decoration: none;
	cursor: pointer;
	color: #1C94C4;
}
a.ques-nav-link:HOVER
{
	text-decoration: underline;
}
a.attempted-que-link
{
	color: #1E5A31;
}
a.current-que-link
{
	color: black;
	font-weight: bold;
}
#low-time-note
{
	position: absolute;
	margin-left: 320px;
}
#mark_review
{
	padding: 5px;
	font-weight:bold;
	background-color: #eeffee;
	border: 1px solid #aaaaaa;
}
#mark_review:HOVER
{
	color: #008800;
}
#unmark_review
{
	padding: 5px;
	font-weight:bold;
	background-color: #ccc;
	color:#1C94C4;
	border: 1px solid #1C94C4;
	border-bottom:none
}
#unmark_review:HOVER
{
	color: #fff;
	 background:#1C94C4;
}
div.pagination a.review-question
{
	color: #fff;
	font-weight: bold;
	float: left;
	background: url('images/btn_icon.png') no-repeat scroll -32px -31px transparent;
	height:29px;
	width:35px;
	color: #fff;
	float: left;
	text-align:center;
	padding-top:13px
}
#clear{ clear:both}
/*.diff_type_notation_area_inner{ border:solid 1px #ccc
}
.head{background:#1C94C4;text-align:center}
.answered{
background: url('images/btn_icon.png') no-repeat scroll -33px -38px transparent;
height:18px;
width:19px
}*/
/*.diff_type_notation_area_inner span.answered
{
background-position: -4px -4px;
height:18px;
width:19px;

 
}
.diff_type_notation_area_inner span.not_answered
{
background-position: -4px -52px;
height:18px;
width:19px;

 
}
.diff_type_notation_area_inner span.answered
{
background-position: -4px -4px;
height:18px;
width:19px;

 
}*/
/*.diff_type_notation_area_inner span.not_visited
{
background-position: -4px -78px;
height:18px;
width:19px;

 
}
.diff_type_notation_area_inner span
{
background: url('images/btn_icon.png') no-repeat scroll -4px -27px transparent;
line-height:18px
}*/
/*-------------------------copy-------------------------------*/
a { text-decoration : none; }
a:hover {text-decoration: none;}
body{
	height:100%;
	overflow:auto;
	font-family:arial,verdana,helvetica,sans-serif;
	font-size:0.8em;
	margin:0px;
	-moz-user-select:none;
	cursor:url("BLACK.cur"),auto;
}
textarea{
	resize:none;
}
div{
	cursor:url("BLACK.cur"),auto;
}
select{
	cursor:url("BLACK.cur"),auto;
}
input{
	cursor:url("BLACK.cur"),auto;
}
table{
	font-family:arial,verdana,helvetica,sans-serif;
	font-size:12px;
}
li{
	padding-top:3px;
}

#header {
	background: url("../images/header_bg.gif") repeat-x scroll left bottom transparent;
	background-color : #4D8CCA;
	width:100%;
    height: 45px;
}
#mainright{
	width:20%;
	overflow:hidden;	
	float:left;
}

#mainleft{
	width:80%;
	overflow:hidden;
	float:left;
}

#currentQues{
	height:90%;
	border: solid 0px #000; 
	border-width:1px;
	border-left  : 0px #CCC solid;
	border-top : 0px #CCC solid;
	border-right : 0px #CCC solid;
	border-bottom : 1px #CCC solid;
}

#container{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	width:100%;
	margin: 0 auto -45px;
}

#timer{
	width:100%;
	border : 0px solid;
}

.numberpanel{
	background-color : #E4EDF7;
	width:100%;
	clear:both;
}

#numberpanelQues{
	padding-top:7px;
	overflow:auto;
	width:95%;
}

#footer{
	background : url(../images/footer_bg.gif) repeat-x scroll left bottom transparent;
	height:45px;
	width:100%;
	/*position:fixed;
	top:92%;
	clear:both;*/
}

#sectionsField{
	float:left;
	width:99%;
/*	margin-bottom : 5px;*/
	margin-left:3px;
/*	border : solid 1px #CCC;*/
}

#groups{
	font-size: 1em;
	font-family:arial,verdana,helvetica,sans-serif;
/*	margin-bottom:7px;
	margin-top:7px;*/
}

#viewSection{
	font-family:arial,verdana,helvetica,sans-serif;
	padding : 5px;
	height:10%;
}

.tooltip {
	background-color: #e4edf7; 
	text-align: center;
	color: #000000; outline: none;
	text-decoration: none;
	cursor: pointer; *cursor: hand;
}

.tooltipSelected{
	background-color: #2F72B7;
	font-weight:bold;
	color:#FFFFFF; 
	text-align: center;
	outline: none;
	text-decoration: none;
	cursor: pointer; *cursor: hand;
}

.tooltip span {
	margin-left: -999em;
	position: absolute;
	text-decoration: none;
}

.tooltip:hover span {
	font-family: arial,verdana,helvetica,sans-serif;
	z-index: 1099; font-weight: bold;
	margin-left: -13px; width: 190px;height:100px
	display:block;
}

.tooltipSelected span {
	margin-left: -999em;
	position: absolute;
	text-decoration: none;
}

.tooltipSelected:hover span {
	font-family: arial,verdana,helvetica,sans-serif;
	z-index: 1099; font-weight: bold;
	margin-left: -13px; width: 190px;height:100px
	display:block;
}

.allSections{
	background-color: #e4edf7; float: left; margin-left: 4px;
	width: 18%; text-align: center;
	color: #000000; outline: none;
	text-decoration: none;
	cursor: pointer; *cursor: hand;
	height:23px;padding-top:5px;
}

.allsections .disabled{
	color : #848484;
}
.currentSectionSelected{
	background-color: #2F72B7;font-weight:bold;color:#FFFFFF; 
	float: left; margin-left: 4px;
	width: 18%; text-align: center;
	color: #000000; outline: none;
	text-decoration: none;
	cursor: pointer; *cursor: hand;
	height :23px;padding-top:5px;
}

.classic { padding: 0.3em 1em; float:left;z-index : 1100;padding-bottom:10px;width:35%}
.classic {background: #CAE1FF; border: 1px solid #0066CC;}

.button {
    border-collapse: collapse; background-color: #C7DCF0; border: #A9D0F5 2px solid;
    margin-top: 0.5%;margin-right: 8px;cursor:pointer;
}
.button1 {
    border-collapse: collapse; background-color: #C7DCF0; border: #A9D0F5 2px solid;
    margin-top: 0.5%; text-align: center; width: 100%; font-size:12px;cursor:pointer;
}

.back{
	width:80px;
}

.actionBn{
	width:180px;
	height:35px;
	padding-top:1px;
	padding-bottom:1px;
}

#instructionsDiv{
	display:none;
	overflow: auto;
	height:73%;
	width:99%;
	border: 1px #000 solid;
	float:left;
	overflow:auto;
	margin-left:3px;
}

#profileDiv{
	display:none;
	overflow: auto;
	height:73%;
	width:99%;
	border: 1px #000 solid;
	float:left;
	overflow:auto;
	margin-left:3px;
}

#QPDiv{
	display:none;
	overflow: auto;
	height:73%;
	width:99%;
	border: 1px #000 solid;
	float:left;
	margin-left:3px;
}

#sectionSummaryDiv{
	display:none;
	overflow: auto;
	height:73%;
	width:99%;
	border: 1px #000 solid;
	float:left;
	overflow:auto;
	margin-left:3px;
}

#sectionSummaryDiv th{
	background : #E4EDF7;
}

.boxgreen{
    border:2px #000 solid;
    width:30px;
    height:20px;
    margin:10px 3px 4px 4px;
    float:left;
    text-align:center;
    background:#698B22;
}

.boxviolet{
    border:2px #000 solid;
    width:30px;
    height:20px;
    margin:10px 3px 4px 4px;
    float:left;
    text-align:center;
    background-color:#CFCDFF;
}

.box1{
    border:2px #000 solid;
    width:30px;
    height:20px;
    margin:10px 3px 4px 4px;
    float:left;
    text-align:center;
    background: white;
}

.boxred{
    border:2px #000 solid;
    width:30px;
    height:20px;
    margin:10px 3px 4px 4px;
    float:left;
    text-align:center;
    background:#CD0000;
}

#questionCont{
	width:99%;
	overflow: auto;
	border: 1px #ccc solid;
	float:left;
	margin-left:3px;
	word-wrap: break-word;
}

.highlightText table{
	color:red;
	clear:both;
}

.highlightText{
	color:red;
	clear:both;
}

.loginText{
	border: 1px solid rgb(148, 180, 193); 
	background-color: rgb(223, 239, 252);
}

.loginLabel{
	font-weight:bold;
	clear:both;
}


.bordertable{
	border-left : 1px solid #000;
	border-top : 1px solid #000;
	margin-top:5px;
}
.bordertable th{
	border-right : 1px solid #000;
	border-bottom : 1px solid #000;
	padding:5px;
	background : #E4EDF7;

}

.bordertable td{
	border-right : 1px solid #000;
	border-bottom : 1px solid #000;
	text-align: center;
	padding:5px;
}


.questionTypeCont{
	background-color : #E4EDF7;
	height:5%;
	padding-top:5px;
	width:100%;
	overflow:hidden;
	font-weight:bold;
	border-bottom : 1px solid #000;
}

.questionTypeCont .content{
	size : 1em;
	font-weight: bold;
	float:left;
	padding-left:5px;
}

.questionTypeCont .marks{
	size : 0.8em;
	float:right;
	font-style:italic;
	padding-right:5px;
}


#viewQPDiv{
	border-bottom:2px solid #ccc;
	padding-left:10px;
}

/************* Typing Type Question css starts here	***********/

.highlight{
	background: none repeat scroll 0 0 #DDDDDD;
		border-radius: 3px;
		color: blue;
}

.correct{
		border-radius: 3px;
		color: green;
}

.wrong{
		border-radius: 3px;
		color: red;
}
.textAreaDiv textarea {
	height: 150px;
	resize: none;
	width: 700px;
	overflow-y:auto;
	overflow-x:hidden;
	font-size:16px;
	text-align:left;
	font-family:arial,verdana,helvetica,sans-serif;
	-moz-user-select:none;
}
#row1 {
	height: 150px;
	resize: none;
	width: 700px;
	overflow-y:auto;
	overflow-x:hidden;
	font-size:16px;
	text-align:left;
	border:1px solid grey;
}

/************ Typing Type Question css ends here *************/
/********** Typing Submit Button style ************/
.typingTestButtonDisabled{
	width: 60%;
	height: 30px;
	border-collapse: collapse;
	background-color: #C7DCF0;
	border: #A9D0F5 2px solid;
	margin-top: 0.5%;
	cursor:pointer;
}
.typingTestButtonEnabled{
	width: 60%;
	height: 30px;
	border-collapse: collapse;
	background-color:#2F72B7;
	font-weight:bold;
	border: #A9D0F5 2px solid;
	color : #ffffff;
	margin-top: 0.5%;
	cursor:pointer;
}
/********** Typing Submit Button style ends ************/
/********** Save & Next Button css starts **************/
.btnEnabled {
	background-color:#2F72B7;
	font-weight:bold;
	color:#FFFFFF;
	height:35px;
	width: 170px;
	cursor:pointer;
	margin-right:8px;
	border:2px solid #A9D0F5;
}
.btnDisabled {
	background-color:#C7DCF0;
	height:35px;
	width: 170px;
	margin-right:8px;
	border:2px solid #A9D0F5;
}
/********** Save & Next Button css ends **************/
/*-----------------------------------copy 2-------------*/

a { text-decoration : none; }
a:hover {text-decoration: none;}
body{
	height:100%;
	overflow:auto;
	font-family:arial,verdana,helvetica,sans-serif;
	font-size:0.8em;
	margin:0px;
	-moz-user-select:none;
	cursor:url("BLACK.cur"),auto;
}
textarea{
	resize:none;
}
div{
	cursor:url("BLACK.cur"),auto;
}
select{
	cursor:url("BLACK.cur"),auto;
}
input{
	cursor:url("BLACK.cur"),auto;
}
table{
	font-family:arial,verdana,helvetica,sans-serif;
	font-size:12px;
}
li{
	padding-top:3px;
}

#header {
	background: url("../images/header_bg.gif") repeat-x scroll left bottom transparent;
	background-color : #4D8CCA;
	width:100%;
    height: 45px;
}
#mainright{
	width:20%;
	overflow:hidden;	
	float:left;
}

#mainleft{
	width:80%;
	overflow:hidden;
	float:left;
}

#currentQues{
	height:90%;
	border: solid 0px #000; 
	border-width:1px;
	border-left  : 0px #CCC solid;
	border-top : 0px #CCC solid;
	border-right : 0px #CCC solid;
	border-bottom : 1px #CCC solid;
}

#container{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	width:100%;
	margin: 0 auto -45px;
}

#timer{
	width:100%;
	border : 0px solid;
}

.numberpanel{
	background-color : #E4EDF7;
	width:100%;
	clear:both;
}

#numberpanelQues{
	padding-top:7px;
	overflow:auto;
	width:95%;
}

#footer{
	background : url(../images/footer_bg.gif) repeat-x scroll left bottom transparent;
	height:45px;
	width:100%;
	/*position:fixed;
	top:92%;
	clear:both;*/
}

#sectionsField{
	float:left;
	width:99%;
/*	margin-bottom : 5px;*/
	margin-left:3px;
/*	border : solid 1px #CCC;*/
}

#groups{
	font-size: 1em;
	font-family:arial,verdana,helvetica,sans-serif;
/*	margin-bottom:7px;
	margin-top:7px;*/
}

#viewSection{
	font-family:arial,verdana,helvetica,sans-serif;
	padding : 5px;
	height:10%;
}

.tooltip {
	background-color: #e4edf7; 
	text-align: center;
	color: #000000; outline: none;
	text-decoration: none;
	cursor: pointer; *cursor: hand;
}

.tooltipSelected{
	background-color: #2F72B7;
	font-weight:bold;
	color:#FFFFFF; 
	text-align: center;
	outline: none;
	text-decoration: none;
	cursor: pointer; *cursor: hand;
}

.tooltip span {
	margin-left: -999em;
	position: absolute;
	text-decoration: none;
}

.tooltip:hover span {
	font-family: arial,verdana,helvetica,sans-serif;
	z-index: 1099; font-weight: bold;
	margin-left: -13px; width: 190px;height:100px
	display:block;
}

.tooltipSelected span {
	margin-left: -999em;
	position: absolute;
	text-decoration: none;
}

.tooltipSelected:hover span {
	font-family: arial,verdana,helvetica,sans-serif;
	z-index: 1099; font-weight: bold;
	margin-left: -13px; width: 190px;height:100px
	display:block;
}

.allSections{
	background-color: #e4edf7; float: left; margin-left: 4px;
	width: 18%; text-align: center;
	color: #000000; outline: none;
	text-decoration: none;
	cursor: pointer; *cursor: hand;
	height:23px;padding-top:5px;
}

.allsections .disabled{
	color : #848484;
}
.currentSectionSelected{
	background-color: #2F72B7;font-weight:bold;color:#FFFFFF; 
	float: left; margin-left: 4px;
	width: 18%; text-align: center;
	color: #000000; outline: none;
	text-decoration: none;
	cursor: pointer; *cursor: hand;
	height :23px;padding-top:5px;
}

.classic { padding: 0.3em 1em; float:left;z-index : 1100;padding-bottom:10px;width:35%}
.classic {background: #CAE1FF; border: 1px solid #0066CC;}

.button {
    border-collapse: collapse; background-color: #C7DCF0; border: #A9D0F5 2px solid;
    margin-top: 0.5%;margin-right: 8px;cursor:pointer;
}
.button1 {
    border-collapse: collapse; background-color: #C7DCF0; border: #A9D0F5 2px solid;
    margin-top: 0.5%; text-align: center; width: 100%; font-size:12px;cursor:pointer;
}

.back{
	width:80px;
}

.actionBn{
	width:180px;
	height:35px;
	padding-top:1px;
	padding-bottom:1px;
}

#instructionsDiv{
	display:none;
	overflow: auto;
	height:73%;
	width:99%;
	border: 1px #000 solid;
	float:left;
	overflow:auto;
	margin-left:3px;
}

#profileDiv{
	display:none;
	overflow: auto;
	height:73%;
	width:99%;
	border: 1px #000 solid;
	float:left;
	overflow:auto;
	margin-left:3px;
}

#QPDiv{
	display:none;
	overflow: auto;
	height:73%;
	width:99%;
	border: 1px #000 solid;
	float:left;
	margin-left:3px;
}

#sectionSummaryDiv{
	display:none;
	overflow: auto;
	height:73%;
	width:99%;
	border: 1px #000 solid;
	float:left;
	overflow:auto;
	margin-left:3px;
}

#sectionSummaryDiv th{
	background : #E4EDF7;
}

.boxgreen{
    border:2px #000 solid;
    width:30px;
    height:20px;
    margin:10px 3px 4px 4px;
    float:left;
    text-align:center;
    background:#698B22;
}

.boxviolet{
    border:2px #000 solid;
    width:30px;
    height:20px;
    margin:10px 3px 4px 4px;
    float:left;
    text-align:center;
    background-color:#CFCDFF;
}

.box1{
    border:2px #000 solid;
    width:30px;
    height:20px;
    margin:10px 3px 4px 4px;
    float:left;
    text-align:center;
    background: white;
}

.boxred{
    border:2px #000 solid;
    width:30px;
    height:20px;
    margin:10px 3px 4px 4px;
    float:left;
    text-align:center;
    background:#CD0000;
}

#questionCont{
	width:99%;
	overflow: auto;
	border: 1px #ccc solid;
	float:left;
	margin-left:3px;
	word-wrap: break-word;
}

.highlightText table{
	color:red;
	clear:both;
}

.highlightText{
	color:red;
	clear:both;
}

.loginText{
	border: 1px solid rgb(148, 180, 193); 
	background-color: rgb(223, 239, 252);
}

.loginLabel{
	font-weight:bold;
	clear:both;
}


.bordertable{
	border-left : 1px solid #000;
	border-top : 1px solid #000;
	margin-top:5px;
}
.bordertable th{
	border-right : 1px solid #000;
	border-bottom : 1px solid #000;
	padding:5px;
	background : #E4EDF7;

}

.bordertable td{
	border-right : 1px solid #000;
	border-bottom : 1px solid #000;
	text-align: center;
	padding:5px;
}


.questionTypeCont{
	background-color : #E4EDF7;
	height:5%;
	padding-top:5px;
	width:100%;
	overflow:hidden;
	font-weight:bold;
	border-bottom : 1px solid #000;
}

.questionTypeCont .content{
	size : 1em;
	font-weight: bold;
	float:left;
	padding-left:5px;
}

.questionTypeCont .marks{
	size : 0.8em;
	float:right;
	font-style:italic;
	padding-right:5px;
}


#viewQPDiv{
	border-bottom:2px solid #ccc;
	padding-left:10px;
}

/************* Typing Type Question css starts here	***********/

.highlight{
	background: none repeat scroll 0 0 #DDDDDD;
		border-radius: 3px;
		color: blue;
}

.correct{
		border-radius: 3px;
		color: green;
}

.wrong{
		border-radius: 3px;
		color: red;
}
.textAreaDiv textarea {
	height: 150px;
	resize: none;
	width: 700px;
	overflow-y:auto;
	overflow-x:hidden;
	font-size:16px;
	text-align:left;
	font-family:arial,verdana,helvetica,sans-serif;
	-moz-user-select:none;
}
#row1 {
	height: 150px;
	resize: none;
	width: 700px;
	overflow-y:auto;
	overflow-x:hidden;
	font-size:16px;
	text-align:left;
	border:1px solid grey;
}

/************ Typing Type Question css ends here *************/
/********** Typing Submit Button style ************/
.typingTestButtonDisabled{
	width: 60%;
	height: 30px;
	border-collapse: collapse;
	background-color: #C7DCF0;
	border: #A9D0F5 2px solid;
	margin-top: 0.5%;
	cursor:pointer;
}
.typingTestButtonEnabled{
	width: 60%;
	height: 30px;
	border-collapse: collapse;
	background-color:#2F72B7;
	font-weight:bold;
	border: #A9D0F5 2px solid;
	color : #ffffff;
	margin-top: 0.5%;
	cursor:pointer;
}
/********** Typing Submit Button style ends ************/
/********** Save & Next Button css starts **************/
.btnEnabled {
	background-color:#2F72B7;
	font-weight:bold;
	color:#FFFFFF;
	height:35px;
	width: 170px;
	cursor:pointer;
	margin-right:8px;
	border:2px solid #A9D0F5;
}
.btnDisabled {
	background-color:#C7DCF0;
	height:35px;
	width: 170px;
	margin-right:8px;
	border:2px solid #A9D0F5;
}
/********** Save & Next Button css ends **************/

/*-------------------number style------------------------------*/
.clear{clear:both; margin:0; padding:0;}
.diff_type_notation_area_outer{background:#9BB0BF; float:left;}
.notation_type_description div{height:18px; padding-bottom:3px;}
.diff_type_notation_area_inner span{background:url(images/btn_icon.png) no-repeat; color:#262626; line-height:18px;}
.diff_type_notation_area_inner span.answered{background-position:-4px -4px;float:left;height:18px;width:19px;}
.diff_type_notation_area_inner span.review{background-position:-4px -26px;float:left;height:18px;width:19px;}
.diff_type_notation_area_inner span.not_answered{background-position:-4px -52px;float:left;height:18px;width:19px;}
.diff_type_notation_area_inner span.not_visited{background-position:-4px -78px;float:left;height:18px;width:19px;}
.diff_type_notation_area_inner span.type_title{background:none;}
.diff_type_notation_area_inner span.number{background:none;}
.question_area span{background:url(images/btn_icon.png) no-repeat; width:33px;height:30px; float:left; line-height:26px; text-align:center; margin-right:5px; cursor:pointer; color:#fff; font-weight:bold}
.question_area span.answered{background-position:-74px -4px;width:35px }
.question_area span.review{background-position:-33px -36px;height:35px;margin-top:2px;padding-top:2px;width:35px}
.question_area span.review_answered{background-position:-70px -69px;height:40px;padding-top:6px;width:37px;width:35px}
.question_area span.not_answered{background-position:-33px -4px;height:	35px;margin-top:5px;width:35px}
.question_area span.not_visited{background-position:-33px -73px; color:#474747;height:35px;width:35px;margin-top:5px}
.question_area span.not_visitedhover{background-position:-74px -39px;height:35px;width:35px;margin-top:5px}
#tooltip_answered{background:url(images/answered.png) no-repeat;width:33px ; height: 30px;float:left ; text-align:center;margin-right:5px; cursor:pointer; color:#fff;}
#tooltip_not_answered{background:url(images/not_answered.png) no-repeat;width:33px ; height: 30px;float:left ; text-align:center;margin-right:5px; cursor:pointer; color:#fff;}
#tooltip_review{background:url(images/review.png) no-repeat;width:33px ; height: 30px;float:left ; text-align:center;margin-right:5px; cursor:pointer; color:#fff;}
#tooltip_not_visited{background:url(images/not_visited.png) no-repeat;width:33px ; height: 30px;float:left ; text-align:center;margin-right:5px; cursor:pointer; color:#000;}
#tooltip_reviewanswered{background:url(images/review_answer.png) no-repeat;width:36px ; height: 37px;float:left ; text-align:left;margin-right:5px; cursor:pointer; color:#fff;}
#wrp{ height:auto; width:100%; background:#fff; overflow:hidden}
#header{ height:30px; width:100%; background:url("images/header_bg.gif") repeat-x scroll left bottom #4D8CCA; text-align:center; color:#fff; padding-top:1em; font-size:1.6em;margin:0px }
/*#footer{height:30px; width:100%; background:#999999; float:left; font-weight:bold; margin-bottom:0px; padding-bottom:0px; text-align:center; padding-top:1em; color:#FFFFFF; font-size:1.1em }*/

#footer {
    background:url("images/footer_bg.gif") repeat-x scroll left bottom transparent;
    height: 45px;
    width: 100%; float:left
}

#loginContenttbl {
    border: 1px solid #809BAE;
    height: 260px;
    margin-top: 100px;
    width: 530px;
}
div {
    cursor: url("BLACK.cur"), auto;
}#loginContenttbl .loginheader {
    background: url("images/login_header_bg.gif") repeat-x scroll left top rgba(0, 0, 0, 0);
    border-bottom: 1px solid #809BAE;
    font-size: 1.5em;
    height: 39px;
    line-height: 39px;
    padding-left: 10px;
}
div {
    cursor: url("BLACK.cur"), auto;
}
.mandat_input {
    background: none repeat scroll 0 0 #FBFBB6;
    border: 1px solid #7E9DB9;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    padding: 0 3px;
    width: 174px;
}
.mandat_input {
    background: none repeat scroll 0 0 #FBFBB6;
    border: 1px solid #7E9DB9;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    padding: 0 3px;
    width: 174px;
}


.btn {
	background-color: #8E8E8E;
	border: 0;
	color: #FFF;
	cursor: pointer;
  width: 100%;
	height: 40px;
	text-align: left;
  position: relative;
  padding: 0;
}

.btn span {
  font-size: 16px;
  line-height: 40px;
  text-align:left;
}

.btn:active {
  top: 1px;
  box-shadow: 1px 1px 2px #000;
}

.btn i {
  margin-right: 10px
}
	
	.facebook {
  background-color: #3B5998;
}

.facebook i {
	float: left;
	width: 44px;
	height: 40px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAoCAYAAACFFRgXAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAN1JREFUeNpi/P//P8NQAoyjDh518KiDRx086uBh62AtIOZE4r8A4qcUmwpyMJWxKxA//I8J2qlhPguVQ9UMiLcAMRutoo2Jyub10tKxtEjDb4FYCIn/C4jXA/FHIN4BZQ8qB38AYn4k/kQgLhjMSQIdfB/saXhIlMMGQDwHic2MJHcBiE8h8ZsoLYup4WAbID5MhLq/QMxLaTKhZ5K4SY00TU8HX6CKKVSulh/SojpGxkOulBh18KiDRx086uDRxg9eoIvW46BOx3O0mz/q4FEHjzp41MGjDiYXAAQYAJmVcB6iaE2HAAAAAElFTkSuQmCC") no-repeat center center;
}

.plus {
  padding-left: 54px;
  background-color: #393838;
}

.plus .i {
  border-radius: 3px;
	position: absolute;
	border-top: 8px solid #D64335;
	width: 44px;
  top: 0;
  bottom: 0;
  left: 0;
  margin-left: 0;
  border-right: 1px solid #343434;
  line-height: 26px;
}

.plus i:before {
	content: "g";
	font: 26px "Palatino Linotype", Georgia, serif;
  text-shadow: 1px 1px 1px #444;
  line-height: 0px;
  margin-left: 10px;
}

.plus i:after {
	content: "+";
	border-left: 11px solid #426AAD;
	background-color: #32A45E;
	border-right: 11px solid #F8CA32;
	width: 11px;
	font: 18px "Palatino Linotype", Georgia, serif;
  line-height: 38px;
	position: absolute;
	top: -8px;
	left: 12px;
  height: 8px;
}


a.login_button {
    background: url("images/login-btn-right.gif") no-repeat scroll right top rgba(0, 0, 0, 0);
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 13px;
    height: 34px;
    line-height: 34px;
    margin-right: 3px;
    margin-top: 0;
    padding-right: 20px;
    text-decoration: none;
}
a.login_button span {
    background: url("images/login-btn-left.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 34px;
    line-height: 34px;
    margin-right: 0;
    padding: 0 2px 0 24px;
}
a.login_button {
    background: url("images/login-btn-right.gif") no-repeat scroll right top rgba(0, 0, 0, 0);
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 13px;
    height: 34px;
    line-height: 34px;
    margin-right: 3px;
    margin-top: 0;
    padding-right: 20px;
    text-decoration: none;
}

