a { text-decoration : none; }
a:hover {text-decoration: none;}
body{
	height:100%;
	overflow:auto;
	font-family:arial,verdana,helvetica,sans-serif;
	font-size:0.8em;
	margin:0px;
	-moz-user-select:none;
	cursor:url("BLACK.cur"),auto;
}
textarea{
	resize:none;
}
div{
	cursor:url("BLACK.cur"),auto;
}
select{
	cursor:url("BLACK.cur"),auto;
}
input{
	cursor:url("BLACK.cur"),auto;
}
table{
	font-family:arial,verdana,helvetica,sans-serif;
	font-size:12px;
}
li{
	padding-top:3px;
}

#header {
	background: url("images/header_bg.gif") repeat-x scroll left bottom transparent;
	background-color : #4D8CCA;
	width:100%;
    height: 25px;
}
#mainright{
	width:20%;
	overflow:hidden;	
	float:left;
}

#mainleft{
	width:80%;
	overflow:hidden;
	float:left;
}

#currentQues{
	height:90%;
	border: solid 0px #000; 
	border-width:1px;
	border-left  : 0px #CCC solid;
	border-top : 0px #CCC solid;
	border-right : 0px #CCC solid;
	border-bottom : 1px #CCC solid;
}

#container{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	width:100%;
	margin: 0 auto -45px;
}

#timer{
	width:100%;
	border : 0px solid;
}

.numberpanel{
	background-color : #E4EDF7;
	width:100%;
	clear:both;
}

#numberpanelQues{
	padding-top:7px;
	overflow:auto;
	width:95%;
}

#footer{
	background : url(images/footer_bg.gif) repeat-x scroll left bottom transparent;
	height:40px;
	width:100%;
	/*position:fixed;
	top:92%;
	clear:both;*/
}

#sectionsField{
	float:left;
	width:99%;
/*	margin-bottom : 5px;*/
	margin-left:3px;
/*	border : solid 1px #CCC;*/
}

#groups{
	font-size: 1em;
	font-family:arial,verdana,helvetica,sans-serif;
/*	margin-bottom:7px;
	margin-top:7px;*/
}

#viewSection{
	font-family:arial,verdana,helvetica,sans-serif;
	padding : 5px;
	height:7%;
}

.tooltip {
	background-color: #e4edf7; 
	text-align: center;
	color: #000000; outline: none;
	text-decoration: none;
	cursor: pointer; *cursor: hand;
}

.tooltipSelected{
	background-color: #2F72B7;
	font-weight:bold;
	color:#FFFFFF; 
	text-align: center;
	outline: none;
	text-decoration: none;
	cursor: pointer; *cursor: hand;
}

.tooltip span {
	margin-left: -999em;
	position: absolute;
	text-decoration: none;
}

.tooltip:hover span {
	font-family: arial,verdana,helvetica,sans-serif;
	z-index: 1099; font-weight: bold;
	margin-left: -13px; width: 190px;height:100px
	display:block;
}

.tooltipSelected span {
	margin-left: -999em;
	position: absolute;
	text-decoration: none;
	font-weight:normal !important;
	color:#000000;
}

.tooltipSelected:hover span {
	font-family: arial,verdana,helvetica,sans-serif;
	z-index: 1099; font-weight: bold;
	margin-left: -13px; width: 190px;height:100px
	display:block;
}

.allSections{
	background-color: #e4edf7; float: left; margin-left: 4px;
	width: 18%; text-align: center;
	color: #000000; outline: none;
	text-decoration: none;
	cursor: pointer; *cursor: hand;
	height:23px;padding-top:5px;
}

.allsections .disabled{
	color : #848484;
}
.currentSectionSelected{
	background-color: #2F72B7;font-weight:bold;color:#FFFFFF; 
	float: left; margin-left: 4px;
	width: 15%; text-align: center;
	color: #000000; outline: none;
	text-decoration: none;
	cursor: pointer; *cursor: hand;
	height :23px;padding-top:5px;
}

.classic { padding: 0.3em 1em; float:left;z-index : 1100;padding-bottom:10px;width:35%}
.classic {background: #CAE1FF; border: 1px solid #0066CC;}

.button {
    border-collapse: collapse; background-color: #C7DCF0; border: #A9D0F5 2px solid;
    margin-top: 0.5%;margin-right: 8px;cursor:pointer;
}
.button1 {
    border-collapse: collapse; background-color: #C7DCF0; border: #A9D0F5 2px solid;
    margin-top: 0.5%; text-align: center; width: 100%; font-size:12px;cursor:pointer;
}

.back{
	width:80px;
}

.actionBn{
	width:180px;
	height:35px;
	padding-top:1px;
	padding-bottom:1px;
}

#instructionsDiv{
	display:none;
	overflow: auto;
	height:73%;
	width:99%;
	border: 1px #000 solid;
	float:left;
	overflow:auto;
	margin-left:3px;
}

#profileDiv{
	display:none;
	overflow: auto;
	height:73%;
	width:99%;
	border: 1px #000 solid;
	float:left;
	overflow:auto;
	margin-left:3px;
}

#QPDiv{
	display:none;
	overflow: auto;
	height:73%;
	width:99%;
	border: 1px #000 solid;
	float:left;
	margin-left:3px;
}

#sectionSummaryDiv{
	display:none;
	overflow: auto;
	height:73%;
	width:99%;
	border: 1px #000 solid;
	float:left;
	overflow:auto;
	margin-left:3px;
}

#sectionSummaryDiv th{
	background : #E4EDF7;
}

.boxgreen{
    border:2px #000 solid;
    width:30px;
    height:20px;
    margin:10px 3px 4px 4px;
    float:left;
    text-align:center;
    background:#698B22;
}

.boxviolet{
    border:2px #000 solid;
    width:30px;
    height:20px;
    margin:10px 3px 4px 4px;
    float:left;
    text-align:center;
    background-color:#CFCDFF;
}

.box1{
    border:2px #000 solid;
    width:30px;
    height:20px;
    margin:10px 3px 4px 4px;
    float:left;
    text-align:center;
    background: white;
}

.boxred{
    border:2px #000 solid;
    width:30px;
    height:20px;
    margin:10px 3px 4px 4px;
    float:left;
    text-align:center;
    background:#CD0000;
}

#questionCont{
	width:99%;
	overflow: auto;
	border: 1px #ccc solid;
	float:left;
	margin-left:3px;
	word-wrap: break-word;
}

.highlightText table{
	color:red;
	clear:both;
}

.highlightText{
	color:red;
	clear:both;
}

.loginText{
	border: 1px solid rgb(148, 180, 193); 
	background-color: rgb(223, 239, 252);
}

.loginLabel{
	font-weight:bold;
	clear:both;
}


.bordertable{
	border-left : 1px solid #000;
	border-top : 1px solid #000;
	margin-top:5px;
}
.bordertable th{
	border-right : 1px solid #000;
	border-bottom : 1px solid #000;
	padding:5px;
	background : #E4EDF7;

}

.bordertable td{
	border-right : 1px solid #000;
	border-bottom : 1px solid #000;
	text-align: center;
	padding:5px;
}


.questionTypeCont{
	background-color : #E4EDF7;
	height:5%;
	padding-top:5px;
	width:100%;
	overflow:hidden;
	font-weight:bold;
	border-bottom : 1px solid #000;
}

.questionTypeCont .content{
	size : 1em;
	font-weight: bold;
	float:left;
	padding-left:5px;
}

.questionTypeCont .marks{
	size : 0.8em;
	float:right;
	font-style:italic;
	padding-right:5px;
}


#viewQPDiv{
	border-bottom:2px solid #ccc;
	padding-left:10px;
}

/************* Typing Type Question css starts here	***********/

.highlight{
	background: none repeat scroll 0 0 #DDDDDD;
		border-radius: 3px;
		color: blue;
}

.correct{
		border-radius: 3px;
		color: green;
}

.wrong{
		border-radius: 3px;
		color: red;
}
.textAreaDiv textarea {
	height: 150px;
	resize: none;
	width: 700px;
	overflow-y:auto;
	overflow-x:hidden;
	font-size:16px;
	text-align:left;
	font-family:arial,verdana,helvetica,sans-serif;
	-moz-user-select:none;
}
#row1 {
	height: 150px;
	resize: none;
	width: 700px;
	overflow-y:auto;
	overflow-x:hidden;
	font-size:16px;
	text-align:left;
	border:1px solid grey;
}

/************ Typing Type Question css ends here *************/
/********** Typing Submit Button style ************/
.typingTestButtonDisabled{
	width: 60%;
	height: 30px;
	border-collapse: collapse;
	background-color: #C7DCF0;
	border: #A9D0F5 2px solid;
	margin-top: 0.5%;
	cursor:pointer;
}
.typingTestButtonEnabled{
	width: 60%;
	height: 30px;
	border-collapse: collapse;
	background-color:#2F72B7;
	font-weight:bold;
	border: #A9D0F5 2px solid;
	color : #ffffff;
	margin-top: 0.5%;
	cursor:pointer;
}
/********** Typing Submit Button style ends ************/
/********** Save & Next Button css starts **************/
.btnEnabled {
	background-color:#2F72B7;
	font-weight:bold;
	color:#FFFFFF;
	height:35px;
	width: 170px;
	cursor:pointer;
	margin-right:8px;
	border:2px solid #A9D0F5;
}
.btnDisabled {
	background-color:#C7DCF0;
	height:35px;
	width: 170px;
	margin-right:8px;
	border:2px solid #A9D0F5;
}
/********** Save & Next Button css ends **************/