/* home page css */

body
{
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13/22px;
}

#landingpage{margin:0 auto;}

#landingpage #leftsidebar, #landingpage #rightsidebar { margin-top:92px;}
#landingpage #leftsidebar { margin-right:10px;}
#landingpage #rightsidebar { margin-left:10px;}

#tbl_landingpage_container{width:100%;margin:0 auto;}

#landingpage_content
{
	border : 5px solid #666666;
	width:705px;
	height:auto;
	margin-top: 100px;
	padding: 50px 0px;
	
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	
	-moz-box-shadow: 0px 0px 20px 0px #888888;
	box-shadow: -1px 1px 20px 0px #888888;
	-webkit-box-shadow: -1px 1px 20px #888888;
	filter: progid:DXImageTransform.Microsoft.Shadow(Color=#888888, Strength=5, Direction=90),
            progid:DXImageTransform.Microsoft.Shadow(Color=#888888, Strength=5, Direction=270);
}

.homepage_image_submit_button
{
	background:url("../images/login.jpg") no-repeat;
	width:79px;
	height:29px;
	border:none;
}
#tbl_login_form_container {padding-top:10px;}
#tbl_login_form_container label
{
	text-align:right;
	width:100%;
	display:block;
	color: #007cc3;
	font-weight:bold;

}
#tbl_login_form_container
{
	width:67%;
}
#tbl_login_form_container input[type="text"]
{
	border:1px solid #666;
	width:160px;
}

#tbl_login_form_container select
{
	color: #007cc3;
	width:162px;
	border:1px solid #666;
	
}

#loginpage_note
{
	margin-top:40px;
	margin-left:50px;
}

#loginpage_note ol
{
	margin:0;
	padding:0;
	text-align:left;
	color:#db241c;
	font-size:12px;
	list-style-position:inside;
}
