		
	{
		margin: 0;
		padding: 0;
	}
	 
	
	header, footer, aside, nav, article {
		display: block;
	}
	 
	body {
			margin: 0 auto;
			
			
			font: 13px/22px;
			background:#f1f1f1 !important ; 
		}
		#tbl_reports{ margin:15px auto}
	header{
	min-height:35px; background-color:#1d5770; color:#fff; font-size:100%; padding:3px; position:fixed; width:100%;
	opacity: 0.7; box-shadow:0px 0px 5px #333;
    filter: alpha(opacity=40); /* For IE8 and earlier */}	
	#logo{padding:0.4em; padding-top:0.5em}
	#logo a{ color:#fff;  font:"Courier New", Courier, monospace; font-size:1.4em; text-decoration:none;}
	#user_detail{ float:right;width: 150px; cursor:pointer}
	#user_detail img { background:#fff; border:solid 2px #fff;cursor:pointer}
	.user_name{ padding:0.5em; padding-top:0.5em;cursor:pointer; font:"Courier New", Courier, monospace; font-weight:bold; font-size:1em;}
	
	 #hr{ width:75%; height:1px; margin:auto; background:#99bcc1; margin-bottom:30px}
	#logo{ float:left; width:200px}
	.user_img{ float:left; width:50px}
	
	.user_img img { border:2px solid #fff;
	background:none repeat scroll 0 0 #fff}
	.user_class{ float:left; width:150px; padding:0.5em; background:#fff;}
	#right_sec{width:89%; height:100%; min-height:600px; float:right;}
	/*Edit by Riyaz */
	/*#right_sec { float: right; height: 100%; margin-left: 11%; min-height: 600px; position: fixed; width: 89%; }*/
	#left_sec{ width:10%; height:100%; position:fixed; top:50px; min-height:600px; background:#FFf; float:left; padding-top:20px;}
	#main_sec { width:100%; background:#ccc;}
	#left_sec ul{ width:100px; display: inline; margin:0; padding:0; width:100px; margin-top:10px;}
	#left_sec ul a{ display:block;}
	#left_sec ul a li { display: block; text-decoration:none; height:33px; width:50px; overflow:hidden; margin-top:5px; box-shadow:0px 0px 2px #666; font-weight:bold; padding-left:15px; padding-top:10px; background-color:#fff; position:relative; border-right: solid 1px #666; list-style-type: none;
	-webkit-transition: width 1.1s; /* For Safari 3.1 to 6.0 */
    transition: width 1.1s;}
	.li1{ background-image:url( images/icons.png); cursor:pointer; height:35px;padding-left:14px;width:30px; position:relative; background-position: -12px -12px, center center; 
    background-repeat: no-repeat; color:#000; padding-left:10px;float:right;}
	.li2{ background-image:url( images/icons.png);  background-position: -11px -46px, center center;cursor:pointer; 
    background-repeat: no-repeat; height:35px;padding-left:14px;width:30px; position:relative; background-repeat: no-repeat; color:#000; padding-left:10px;float:right}
	.li3{ background-image:url( images/icons.png); height:35px;padding-left:14px;width:30px;cursor:pointer; position:relative; background-position: -11px -84px, center center; 
    background-repeat: no-repeat; color:#000; padding-left:10px;float:right}
	.li4{ background-image:url( images/icons.png); height:35px;padding-left:14px;width:30px;cursor:pointer; position:relative; background-position: -11px -170px, center center; 
    background-repeat: no-repeat; color:#000; padding-left:10px;float:right}
	.li5{ background-image:url( images/icons.png); height:35px;padding-left:14px;width:30px;cursor:pointer; position:relative; background-position: -11px -296px, center center; 
    background-repeat: no-repeat; color:#000; padding-left:10px;float:right}
	.li6{ background-image:url( images/icons.png); height:35px;padding-left:14px;width:30px;cursor:pointer; position:relative; background-position: -12px -214px, center center; 
    background-repeat: no-repeat; color:#000; padding-left:10px;float:right}
	.li7{ background-image:url( images/icons.png); height:35px;padding-left:14px;width:30px; cursor:pointer;position:relative; background-position: -11px -128px, center center; 
    background-repeat: no-repeat; color:#000; padding-left:10px;float:right}
	.li8{ background-image:url( images/icons.png); height:35px;padding-left:14px;width:30px;cursor:pointer; position:relative; background-position: -11px -333px, center center; 
    background-repeat: no-repeat; color:#000; padding-left:10px;float:right}
	.li9{ background-image:url( images/icons.png); height:35px;padding-left:14px;width:30px;cursor:pointer; position:relative; background-position: -11px -367px, center center; 
    background-repeat: no-repeat; color:#000; padding-left:10px;float:right}
	.li10{ background-image:url( images/icons.png); height:35px;padding-left:14px;width:30px;cursor:pointer; position:relative; background-position: -11px -258px, center center; 
    background-repeat: no-repeat; color:#000; padding-left:10px;float:right}
	.li11{ background-image:url( images/help.png); height:35px;padding-left:14px;width:30px;cursor:pointer; position:relative; background-position: 0px 0px, center center; 
    background-repeat: no-repeat; color:#000; padding-left:10px;float:right}
	#left_sec ul a li:hover{ width:165px; color:#000; overflow:hidden}
	#left_sec ul a{ cursor:pointer; color:#000}
	.li_text1{ width:0;cursor:pointer; position:absolute; float:left; overflow:hidden;-webkit-transition: width 0.9s; /* For Safari 3.1 to 6.0 */
    transition: width 0.9s;}
	#left_sec ul li:hover .li_text1{ width:90%; float:left; overflow:hidden}
	#dashbord_sec{width:99%;height:300px; margin-top:50px;background:#fff;float:left;}
	.dash_left{height:200px;box-shadow:0px 0px 2px #333;word-wrap:break-word;  width:395px;background-color:#f1f1f1; float:left;margin:40px 30px}
	.dash_left_img{float:left;width:150px; background:}
	.dash_left_name{float:left;width:200px;background:;text-align:center word-warp:next-line;}
	.dash_left_img img{height:150px;width:120px;margin:15px; border:solid #1d5770 }
	.dash_right{ width:400px;height:250px;background:#fff;float:left; }
	.test_sec{height:200px;width:400px;background-color:#f1f1f1; float:left;margin:40px 0; box-shadow:0px 0px 2px #333;}
	.test_sec_left{width:50%;height:150px;float:left;text-align:center;}
	.test_head{background:#1d5770;color:#fff;top:0px;padding:5px;font-weight:bold;}
	.test_sec_right{width:50%;height:150px;float:left;text-align:center}
	.highcharts-container{ position: static !important}
	.right_cat_sec{min-height:150px; border:solid 1px #1d5770;margin-bottom:15px;width:99%;background:#fff;float:left;margin-top:5px}
	.green_head_wrp{width:100%}
	.green_header{min-height:20px; height:auto;width:200px;text-align:center;background:#1d5770;color:#fff;font-size:1.2em;padding:5px;font-weight:bold;box-shadow:-1px 1px 2px #666}
	.show_news_sec{width:90%;min-height:30px;border:solid 2px #1d5770;margin:10px auto;background:#f1f1f1;padding:3px;text-align:justify;font-family:arial,vardena;font-size:1em}
	.show_news_sec_head{height:20px;width:120px;margin:0px 0px;font-weight:bold;text-align:center;background:#1d5770;color:#fff}
	input[type=submit], input[type=button]{ height:35px; width:35%; text-align:center; padding:5px; font-size:1.2em; margin-bottom:8px; font-weight:bold;  color:#fff; background-color:#1d5770; border:none; box-shadow:none}
	input[type=submit]:active,input[type=button]:active{background-color:#fff;color:#1d5770; border: solid 1px #1d5770;}
	.styleSelect select {
  background: transparent;
  width: 230px;
  padding: 3px;
  font-size: 12px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 30px;
  -webkit-appearance: none;
  color: #000;
  font-weight:bold
}

.styleSelect {
  width: 200px;
  height: 30px;
  overflow: hidden;
  background:url("images/downArrow.png") no-repeat scroll 165px -5px / 35px 35px #fff;
  border: 1px solid #1d5770;
}
	.exam_box{min-height:40px; width:150px;box-shadow:0px 0px 3px #666;background:#f1f1f1;margin:20px;padding:25px;padding-top:35px;float:left;text-align:center;color:#1d5770;font-size:1.5em;font-weight:bold; cursor:pointer}
	.green_header a{ color:#FFFFFF}
	
	.c_image{ float:right;height:35px;width:35px; margin-right:15px;}
.c_name{ float:right;color:#FFFFFF; font-weight:bold; font-size:1.3em; margin-right:55px; margin-top:8px;}
.container{}
.side_menu{width:100px;height:auto;min-height:600px;background-color:#FFFFFF;float:left;}

.user_data{width:100%;height:auto;min-height:550px; margin:50px auto;background-color:#FFFFFF;}
.user_data_wrp{ margin:auto; width:900px}
.user_data_header{height:30px; width:250px;}
.user_data_header_green{background-color:#1d5770; width:180px; height:25px; padding-left:35px; padding-top:5px; font-weight:bold; color:#FFFFFF;
						opacity:0.7; font-size:1.3em;}

.user_data_image{ height:250px; width:250px; float:left;}
.user_data_image1{ height:180px; width:150px; margin:0 auto;}
.user_data_image1 img{ height:150px; width:130px; margin:20px 8px; border:2px solid #1d5770;}
.user_data_image2{ height:20px; width:150px; padding:5px; cursor:pointer; margin:auto; background-color:#1d5770; color:#FFFFFF; text-align:center; font-weight:bold}

.user_data_info{ height:auto; min-height:250px; width:500px; margin-bottom:10px; float:left; margin:auto;
				margin-left:60px;}
.user_data_info_row{ height:25px; width:400px; padding:3px; padding-top:15px;margin:auto; margin-left:50px;border-bottom:1px solid #ccc;}
span{ color:#1d5770; font-weight:bold; font-size:1.1em; float:left;}
.user_data_info_col{ color:#000000; font-weight:bold; font-size:1.1em; float:left;}
.editable_image{height:30px; width:40px;  float:right; cursor:pointer;
				background:url('http://sunwindows:1234/assessall/css/images/edit_icon.png') no-repeat scroll 23px 0px / 15px 15px transparent;}
body{margin:0 auto;background-color:#f1f1f1;}
.header{background-color:#1d5770;opacity:0.7;height:35px;width:100%;box-shadow:0 0 5px #333;/*position:fixed;*/padding:3px;color:#FFFFFF;}
.c_image{ float:right;height:35px;width:35px; margin-right:15px;}
.c_image img{height:35px;width:35px;}
.c_name{ float:right;color:#FFFFFF; font-weight:bold; font-size:1.3em; margin-right:55px; margin-top:8px;}
.container{}
.side_menu{width:100px;height:auto;min-height:600px;background-color:#FFFFFF;float:left;}




.user_data_image1 img{ height:150px; width:130px; margin:20px 8px; border:2px solid #1d5770;}
.user_data_image2{ height:20px; width:150px; padding:5px; margin:auto; background-color:#1d5770; color:#FFFFFF; text-align:center; font-weight:bold}

.user_data_info{ height:auto; min-height:250px; width:500px; margin-bottom:10px; float:left; margin:auto;
				margin-left:60px;}
.user_data_info_row{ height:30px; width:400px; padding:3px; padding-top:15px;margin:auto; margin-left:50px;}
span{ color:#1d5770; font-weight:bold; font-size:1.1em; float:left;}
.user_data_info_field{ width:120px;color:#1d5770; font-weight:bold; font-size:1.1em; float:left;}
.user_data_info_col{ color:#000000; width:75% !important; min-height: 30px; font-weight:bold; font-size:1.1em; float:left;}
.editable_image{height:30px; width:40px;  float:right;
				background:url('http://sunwindows:1234/assessall/css/images/edit_icon.png') no-repeat scroll 23px 0px / 15px 15px transparent;}
				.edit_button{ padding:6px 10px 10px 10px !important; font-size:1em !important; height:30px !important; font-weight:bold !important; font-family:inherit !important}
	/* saf3+, chrome1+ */
	#tbl  { -webkit-display:inline  }
	.opera #tbl, .chrome #tbl {
  display:inline;
  
}#tbl{
    	-bracket-:hack[;
        display:inline;
    ];
}

	@media only screen 
	and (min-device-width : 310px) 
	and (max-device-width : 359px) { 
		
		header #headtext{ width:275px; font-size:1.4em}
	}
	@media only screen 
	and (min-device-width : 321px) 
	and (max-device-width : 550px) { 
		
		header #headtext{ width:270px; font-size:1.4em}
	}
	@media only screen 
	and (min-device-width : 551px) 
	and (max-device-width : 768px) { 
	
		
		.header #headtext{ width:325px; font-size:1.6em}
	}
	/*--------------*/
	
	.ui-autocomplete {
max-height: 100px;
overflow-y: auto;
/* prevent horizontal scrollbar */
overflow-x: hidden;
}
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
height: 100px;
}
<!--
 .ui-autocomplete-loading {
background: white url("<?php echo ROOTURL;?>/images/ui-anim_basic_16x16.gif") right center no-repeat;
}	-->
		
	{
		margin: 0;
		padding: 0;
	}
	 
	
	header, footer, aside, nav, article {
		display: block;
	}
	 
	body {
			margin: 0 auto;
			
			font: 13px/22px Helvetica, Arial, sans-serif;
			background:#f1f1f1 ;
		}
	
	#register-link{ background:#066a75 !important;font-size:1.2em; width:80%; margin:auto; color:#fff;border-radius:0px ; padding:5px 0 !important;}
	#register-link a { color:#FFFFFF; font-size:1em}
	#signup_wrp{
	/*height:500px;*/ height:auto; margin:20px auto 50px; width:450px;background-color:#f7f7f7; box-shadow:0px 0px 2px #ccc; border-bottom: solid 3px #066a75}
	.signup_top{ text-align:center;}
	
	.signup_top h1{ font-size:2em;text-align:center; font-weight:normal; color:#066a75 ; padding-top:10px}
	.signup_top h1 span{ text-align:center; float:none!important}
	 #hr2{ width:75%; height:1px; margin:-10px auto 15px; background:#99bcc1; margin-bottom:10px}
	 .signup_form{ width:100%; margin:auto;min-height:315px}
	 #form_wrp{ width:80%; margin:auto}
	.signup_form input[type=text],input[type=password]{ width:100%; height:25px; margin:auto; margin-bottom:10px; border:solid 2px #99bcc1}
	.signup_form input[type=submit]{ height:30px; width:20%; text-align:center; padding:5px ; font-size:1em; letter-spacing:1px; margin-bottom:20px; margin-top:10px; font-weight:bold;  color:#fff; background-color:#066a75; border:none; box-shadow:none}
	.signup_form input[type=button]{ height:30px; width:20%; text-align:center; padding:5px ; font-size:1em;margin-top:10px; margin-bottom:20px; font-weight:bold;  color:#fff; background-color:#066a75; border:none; box-shadow:none}
	.signup_form input[type=submit]:active,.signup_form input[type=button]:active{background-color:#fff;color:#066a75; border: solid 1px #066a75;}
	#form_wrp span{ color:#066a75; letter-spacing:0.5px; font-weight:bold ; font-size:1em}
	#form_wrp a {  font-size:1em; padding-top:10px; font-weight:bold; color:#066a75}
	.login_bottom{ width:75%; min-height:25px; padding:8px; background:#066a75; margin:auto; color:#fff ; font-size:1.5em; text-align:center}
	.login_bottom a { color:#fff}
	.ui-grid-b{ text-align:center; font-size:1em;}
	#form_wrp{ }
	#mandatory{ font-size:10px }
	#register-link a { color:#fff !important}
	.signup_form table{ display:none}
	 header #top_head{
	min-height:25px; background-color:#066a75; color:#fff; font:"Times New Roman", Times, serif; font-size:100%; padding:3px;
	opacity: 0.7;
    filter: alpha(opacity=40); /* For IE8 and earlier */}	
	header #headtext{
	background:#fff; font-size:0.7em !important; padding:5px; padding-top:1px;width:350px;letter-spacing:1px; min-height:25px;color:#1d3c41; text-align:center; margin:auto; box-shadow:0 0 3px #666;
	}
	@media only screen 
	and (min-device-width : 310px) 
	and (max-device-width : 359px) { 
		.signup_form { min-height:453px}
		#top_head{ text-align:center}
		#register-link{ width:80%}
		.signup_form input[type="submit"]{ width:35%}
		.signup_form input[type="button"]{ width:35%}
		#signup_wrp{ min-height:509px;width:250px}
		header #headtext{ width:275px; font-size:1.4em}
		
	}
	@media only screen 
	and (min-device-width : 321px) 
	and (max-device-width : 550px) { 
		.signup_form { min-height:265px}
		#top_head{ text-align:center}
		#signup_wrp{ width:300px; min-height:509px}
		.signup_form input[type="submit"]{ width:30%}
		.signup_form input[type="button"]{ width:30%}
		header #headtext{ width:270px; font-size:1.4em}
	}
	@media only screen 
	and (min-device-width : 551px) 
	and (max-device-width : 768px) { 
	
		#signup_wrp{ height:487px; width:500px}
		.header #headtext{ width:325px; font-size:1.6em}
	}
	
	/*------------forgot page----------------------*/
		
	
	.middlecontent{ background:#fff; margin:auto}
	.mail_wrp,.res_wrp{width:80%; height:auto; margin:50px auto;ackground:pink}
	#back_btn{height:50px; width:70%; margin: 50px auto;}
	#back_btn div { width:250px; height:auto; margin:auto}
	#back_btn div input[type='button']{ width:250px; letter-spacing:1px}
	@media only screen 
	and (min-device-width : 310px) 
	and (max-device-width : 359px) { 
		#top_head{ text-align:center}
		header #headtext{ width:275px; font-size:1.4em}
		input[type=submit],input[type=button]{ width:40%}
		input[type=text]{ width:95%}
	}
	@media only screen 
	and (min-device-width : 321px) 
	and (max-device-width : 550px) { 
		#top_head{ text-align:center}
		header #headtext{ width:270px; font-size:1.4em}
		input[type=submit],input[type=button]{ width:40%}
		input[type=text]{ width:95%}
	}
	@media only screen 
	and (min-device-width : 551px) 
	and (max-device-width : 768px) { 
	
		
		.header #headtext{ width:325px; font-size:1.6em}
	}