table td
{
	vertical-align: top;
}
.user-name
{
	font-size: 30px;
	color: #888;
	margin-bottom: 10px;
}
.user-image
{
	width: 120px;
	max-height: 140px;
	min-height: 110px;
}
.user-common table td
{
	color: #888;
	padding: 4px;
	vertical-align: top;
}
.upload-link
{
	background-color: rgba(200,200,200,0.5);
	width: 110px;
	text-align: center;
	position: absolute;
	margin-top: -25px;
	padding: 5px;
	color: #000;
	font-weight: bold;
	margin-left: 0px;
	visibility: hidden;
}

.upload-link label
{
	display: block;
	color: #000;
	text-decoration: underline;
	cursor: pointer;
}

#image-container
{
	float: right;
	width: 120px;
	border: 1px solid #ddd;
	background: white;
}

#image-container:HOVER .upload-link
{
	visibility: visible;
}
#image-container:HOVER #remove-image
{
	visibility: visible;
}

#loading-div
{
	position: absolute;
	margin-top: -80px;
	margin-left: 40px;
	display: none;
}

#remove-image 
{
	position: absolute;
	margin-left: 101px;
	padding: 2px;
	visibility: hidden;
	cursor: pointer;
}

#sign-container
{
	float: right;
	margin: 15px 0;
	font-weight: bold;
	color: #888;
	width: 120px;
}

#sign-container img
{
	border: 1px solid #ddd;
	background: white;
}