html { min-width: 600px; }

body, div, td, th { /* redundant rules for bad browsers  */  
    font-family: arial, helvetica, sans-serif;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: 13px;
	/*color: #333;*/
}  
.clearhack { display: inline; } /*Clears Box Model Hack in IE5*/

/*body {
	background: #EDEBE3;
	color: #333;
	padding: 1em 20px 3em 20px;
	margin: 0;
}*/

a { color: #06C; }
a:hover { color: #333; }
a:active { color: #000; }

p { line-height: 140%; }

h1 a { text-decoration: none; color: #333; }
h1 a:hover { border-bottom: 1px dotted #666; color: #000; }

p.note {
	background: #EEE;
	padding: 4px;
	font-family: tahoma;
	font-size: 85%;
	line-height: 130%;
	margin-top: 0;
}

/* for image css*/
	.thumbnail{
	position: relative;
	z-index: 0;
	}
	
	.thumbnail:hover{
	background-color: transparent;
	z-index: 50;
	}
	
	.thumbnail span{ /*CSS for enlarged image*/
	position: absolute;
	background-color:#eeeeee ;
	padding: 5px;
	left: -1000px;
	border: 2px ;
	visibility: hidden;
	color: #CF6203;
	text-decoration: none;
	font-size:12px;
	}
	
	.thumbnail span img{ /*CSS for enlarged image*/
	border-width: 0;
	padding: 2px;
	min-height:100px;
	max-height:300px;
	width:200px;
	background: #fff;
	}
	.thumbnail:hover .span{ /*CSS for enlarged image on hover*/
	visibility: visible;
	
	left:-160px; /*position where enlarged image should offset horizontally */
	
	}
	.thumbnail:hover span{ /*CSS for enlarged image on hover*/
	visibility: visible;
	top: 20px;
	left: -150px; /*position where enlarged image should offset horizontally */
	
	}/* image css end -*/
/* image css end -*/
