/* Online Exam css*/

body
{
	margin: 0 auto;
	padding: 0;
	background-color: #74747c;
	font-family:arial, helvetica, sans-serif;
	overflow-y: scroll;
	*overflow-y: auto;
	width: 99%;
	font-size: 13px;
}
fieldset, fieldset.rounded 
{
    *position: relative;
    *padding-top: 10px;
}

fieldset legend 
{
    *position: absolute;
    *top: -0.5em;
    *left: 0.5em;
}
a{ outline: 0; }
img{ border-style: none; }
.rounded
{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 1px;
	border:1px solid #ccc;
}
.alink {color: #0066aa; font-size:12px; text-decoration:none;}
.alink:hover { color: green; font-size:12px; text-decoration:none;}
#line { background:#f9f9f9; height:2px; display:block; width:100%}

#outerwrapper
{
	width: 980px;
	margin: 10px auto;
}

/* Header Css*/

#header
{
	/* margin: 10px 10px 0px; */
	padding: 2px;
	height: 80px;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
/*	-moz-box-shadow: 0 0 10px 1px #888 inset;
	-webkit-box-shadow: 0 0 10px 1px #888 inset;
	box-shadow: 0 0 10px 1px #888 inset; */
}

.headerlinks
{
	text-align:right;
	padding-right: 20px;
}

.headerlinks a
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
	font-weight: bold;
	color: #aaa;
	text-shadow: 1px 1px 1px;
}

.headerlinks a:hover
{
	color: #888;
}

.welcome
{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	color: #888888;
	text-shadow: 1px 1px 0px, -1px -1px 0px;
}

#searchbar
{
	border-bottom:1px solid #ddd;
	margin: 0px 4px 0px 2px;
	text-align:right;
	padding-bottom:5px;
	
}
input#search {color: #bbb; padding:2px;}
#gobutton 
{ 
 	background-color: #919191;
    border: medium none;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.6em;
    font-weight: bold;
    padding: 3px;
    text-align: center;
}

#timer
{
	text-align:right;
	font-size:14px;
	font-weight:bold;
	color: #bf3030;
}

.buttons
{
	background: url('../images/registration_back.gif');
	color: #FFFFFF;
	padding:5px 10px;
	font-weight: bold;
	margin:0px;
	border:none;
	font-size: 12px;
	text-decoration:none;
	cursor:pointer;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position: relative;
}

.buttons:ACTIVE
{
	top: 1px;
}

/* Content Css*/

#tbl_outer
{

}

#content
{
	background-color:#fff;
/*	margin: 5px 0px 0px;
/*	margin: 10px; 
	padding: 10px; */
	min-height: 500px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
#main
{
	margin: 0 auto;
	padding: 10px;
	width: 98%;
}

#contents fieldset
{
	margin: 0 auto;
	background: #fdfdfd;
}

#content p { /*font-family:Arial, Helvetica, sans-serif; font-size: 12px; color: #666; */}

#tbl_empdetails_wrapper, #logintable_wrapper
{
	background-color: #f1f1f1;
	border: 1px solid #999;
	width:400px;
	height:200px;
	margin:auto;
	padding:10px;
}

#tbl_candidatedetails, #logintable
{
	border: 0 none;
    font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
    padding: 0;
	margin-top:10px;
	width: 395px;
}

#mandatory{ font-family: Arial, Helvetica, sans-serif; font-size:11px; }

.red {
	color: #FF0000; 
	/*margin-left:5px;*/
	}
.green { color:#339966;}

.textfield { padding:4px; }

.bgblue {background: #f0f9ff; color:#6784c9; display:block; border:1px solid #f0f9ff; padding:5px;  font-size:14px; font-weight: bold; border:1px solid #BCE4FF;}

.questions
{
	margin: 0px 0px 0px 5px;
	padding:0px;
	/*border:1px solid red;*/
	height:25px;
}


.questions li
{
	display: inline;
	list-style-type: none;
	text-align:center;
	padding:0px 2px 3px 2px;
	border: 1px solid #BCE4FF;
}

.questions li a:link
{
	color: #bbb;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	display:inline;
	padding: 1px 5px;
	
}

.questions li a:visited, .questions li a:active
{
	color: #000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	/*padding: 2px 5px 5px 5px;*/
	padding: 1px 5px;
}
.questions li a:hover
{
	color: #fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	display:inline;
	background-color:#3399FF
	
}

#questions_wrapper{ height: 250px; font-family:Arial, Helvetica, sans-serif; color:#333;}

#test_question_paper
{
	background-color:#fff;
	margin: 10px;
	padding: 10px;
	border:1px solid #e1e1e1;
	height:100%;
	color:#666699;
}

#test_question_paper p { font-family:Arial, Helvetica, sans-serif; font-size:14px; letter-spacing:.2pt; color:#666699;}

#tbl_single_question { font-family:Arial, Helvetica, sans-serif; font-size:14px; letter-spacing:.2pt; color:#996699;}
.guidelines
{
	text-align:left;
	padding-bottom:12px;
	list-style-image: url('../images/carot2.gif');
}

.guidelines li
{
	font-size:13px;	
	padding:5px;
}

.border_blue {border:1px solid #BCE4FF; padding:5px;}

#tbl_dashboard, #tbl_preferences 
{ 
	font-size:14px; 
	/*color: #666;*/
}


.dashboard_menus
{
	margin: 10px 0px 0px 5px;
	padding:0px;
	/*border:1px solid red;*/
	height:25px;
}


.dashboard_menus li
{
	display: inline;
	list-style-type: none;
	text-align:center;
	/*padding:0px 2px 3px 2px;*/
	
	/*border: 1px solid #BCE4FF;*/
}

.dashboard_menus li a:link
{
	color: #000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	display:inline;
	/*padding: 1px 5px;*/
	
}

.dashboard_menus li a:visited, .dashboard_menus li a:active
{
	color: #565656;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	/*padding: 2px 5px 5px 5px;*/
	/*padding: 1px 5px;*/
	padding:3px;
}
.dashboard_menus li a:hover
{
	color: #000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	display:inline;
	/*background-color:#88C2FC;*/
	background-color:#b3def4;
	
}

/*.preferences_leftnavigation {text-align:left;	padding-bottom:12px; padding:0px; margin:0px -5px 0px 0px;}
.preferences_leftnavigation .active { background-color:red; display:block;}
.preferences_leftnavigation li {padding:2px; list-style-type:none; background-color:#f3f3f3; margin:2px;}
.preferences_leftnavigation li a:link, a.active {font-size:12px; padding:5px; color:#777; text-decoration:none; font-weight:bold;}
.preferences_leftnavigation li a:active, .preferences_leftnavigation li a:visited {font-size:12px; padding:5px; color:#777; text-decoration:none; font-weight:bold;}
.preferences_leftnavigation li a:hover {font-size:12px; padding:5px; color:#AF5403; text-decoration:none; font-weight:bold;}*/


ul.preferences_leftnavigation{
    display: block;
    width: 120px;
    /*background-color: Silver;*/
    list-style-type: none;
    padding-top: 19px;
    padding-bottom: 40px;
	margin:0px;
	padding-left:5px;  
}
ul.preferences_leftnavigation li{
    width: 120px;
	text-align:left;

    margin-bottom: 6px;
}
ul.preferences_leftnavigationli a,
ul.preferences_leftnavigation li a:visited {
    display: block;
    color: white;
    background-color: #bbb;
    /*margin-left: 10px;*/
    padding: 5px 2px 5px 5px;
    text-decoration: none;
    border-right: 1px solid #999;
}
ul.preferences_leftnavigationli.active a,
ul.preferences_leftnavigation li.active a:hover,
ul.preferences_leftnavigation li.active a:visited,
ul.preferences_leftnavigation li a:hover {
    display: block;
    color: black;
	padding: 5px 2px 5px 5px;
    background-color: #efefef;
	/*border-top: 1px solid #ccc;*/
    border-right: 1px solid #efefef;
	/*border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;*/
}

ul.ui-autocomplete 
{
    max-height: 200px;
    overflow-y: auto;   /* prevent horizontal scrollbar */
    overflow-x: hidden; /* add padding to account for vertical scrollbar */
    z-index:1000 !important;
    width: 200px;
}

input.ui-combobox-input
{
	font-weight: normal;
	color: black;
	margin: 0;
	padding: 2px;
	margin-right: 50px;
	width: 150px;
}
a.ui-button
{
	padding: 5px 0;
	top: -2px;
	position: relative;
	margin-left: -50px;
}

#dashboard_iframe { margin:0px; padding:0px;}
#questions_iframe { margin:0px; padding:0px;}


#tbl_testdetails
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}

#tbl_testdetails .subheading { font-size:12px; color: #af5403; font-weight:bold;}

#results_wrapper
{
	background-color:#fff;
	padding:5px;
	margin: 10px;
}

#tbl_resultinfo { font-size:14px; color: #666;}

#txt {
  border:none;
  font-family:verdana;
  font-size:12px;
  font-weight:bold;
  /*border-right-color:#FFFFFF;*/
}

#tbl_search_reports, #tbl_reports, #tbl_download_reports { font-size:12px;}

.tblheading {background-color:#fff; font-size:14px; color: #af5403; font-weight:bold; text-align:center;}
.tdbggrey {background-color:#F3F3F3; font-size:14px; color: #333333; text-align:center;}
.tdbgwhite {background-color:#ffffff; font-size:14px; color: #333333; text-align:center;}

#discussion
{
	padding:5px;
	border: 1px solid #C9E3FC;
	background-color:#f0f9ff;
	-moz-border-radius: 5px;
	-web-kit-radius: 5px;
	border-radius: 5px;
}

/*** Form css***/

legend {color:#af5403; margin-left:8px;}

.normal
{ 
	background-color:#fff; 
	border:1px solid #ccc; 
	padding:4px; 
	-moz-border-radius: 5px; 
	-web-kit-radius: 5px;
	border-radius: 5px;
}
.focus
{ 
	background-color:#EFFFF0; 
	border:1px solid #ccc; 
	padding:4px; 
	-moz-border-radius: 5px; 
	-web-kit-radius: 5px;
	border-radius: 5px;
}

/**********pagination*********/

/*ul{border:0; margin:0; padding:0;}*/
#pagination
{
	text-align:right;
	border:0; margin:0; padding:0;
}

#pagination li{
border:0; margin:0; padding:0;
font-size:11px;
list-style:none;
margin-right:2px;
}
#pagination li a{
/*border:solid 1px #9aafe5;*/
margin-right:2px;
border:solid 1px #0e509e;
}
#pagination .previous-off,
#pagination-digg .next-off {
border:solid 1px #DEDEDE;
color:#888888;
display:block;
float:left;
font-weight:bold;
margin-right:2px;
padding:3px 4px;
}
#pagination.next a,
#pagination .previous a {
font-weight:bold;
}
#pagination .active{
background:#2e6ab1;
color:#FFFFFF;
font-weight:bold;
display:block;
float:left;
padding:4px 6px;
}
#pagination li a:link,
#pagination li a:visited {
color:#2966a9;
display:block;
float:left;
padding:3px 6px;
text-decoration:none;
}
#pagination li a:hover{
background-color: #2e6ab1;
color:#fff;
}

.zebra { 
  background-color: #dddddd;
  color: #666666;
}

tr.zebraHover {
  background-color: #FFFACD;

}
.tableccss
{
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border: 1px #ddd;
	border-color:#000000;
	font-family:Arial, Helvetica, sans-serif;
	background-color:#999999;
}
.anth
{
	font-size :12px;
	color:#ffffff;
	/*background-image:url(../../images/fav_back12.jpg);*/
	text-align : center;
	background-color:#b6bcc8;
	height:25px;
}
.trwhite	
{
	font-family:Arial, Helvetica, sans-serif;
	background-color:#ffffff;
	font-size:12px;
	height:21px;
	
}
.tableccss tr
{
	font-family:Arial, Helvetica, sans-serif;
	background-color:#ffffff;
	font-size:12px;
}
.tableccss th
{
	background-color:#C4E7FF;
}

.highlightSubString
{
font-weight:normal;
background-color: #f1f100;
}
#ui-datepicker-div
{
font: 90% "Trebuchet MS", sans-serif;
}
img.ui-datepicker-trigger
{
	position: absolute;
	border: none;
	margin-left: 3px;
}
.links
{
	cursor: pointer;
}

.search-div
{
	margin: 0 auto;
	text-align: center;
}
.search-fieldset
{
	display: inline;
	margin: 0 auto;
	text-align: left;
}
.search-fieldset table
{
	margin: 0 auto;
	margin: 10px 20px;
	width: auto;
}
.search-fieldset table td
{
	vertical-align: top;
	text-align: left;
}
.search-fieldset table tr:last-child td 
{ 
	padding: 15px 0 5px; 
	text-align: center;
}
.search-fieldset table select
{
	width: 160px;
}

.included
{
	background: #f0f0ff;
}

.dashboard-notification
{
	padding: 10px;
	margin: 10px;
	background: #eeeeee;
	border: 1px solid #888;
}
