ul{list-style:none;margin: 0;padding: 0;}
code{font-family:Consolas, Menlo, Monaco, Lucida Console, Courier New;background-color:#eeeeee;}
pre{padding:5px;font-family:Consolas, Menlo, Monaco, Lucida Console, Courier New;margin-bottom:10px;background-color:#eeeeee;overflow:auto;width:auto;width:650px !ie7;padding-bottom:20px !ie7;max-height:600px;}

h1{font-weight:bold;font-size:170%;margin-bottom:7px;line-height:1.3; border:none; text-align:left;}
h2{font-size:140%;font-weight:bold;margin-bottom:7px;line-height:1.3; border:none; text-align:left;}
h3{font-size:110%;font-weight:bold;margin-bottom:5px;line-height:1.3; border:none; text-align:left;}

hr{border:0;color:#aaa;background-color:#aaa;height:1px;margin-bottom:20px;}

p code{padding:1px 5px 1px 5px;}

.content-page{color:#333;font-size:120%;line-height:125%;margin-bottom:15px;}
.content-page h2{margin-bottom:10px;font-size:120%;}
.container{text-align:left;width:100%;zoom:1;}

#mainbar,.mainbar{float:left;margin-bottom:40px;width:650px;margin-left: 10px;}
#sidebar,.sidebar{overflow:hidden;float:right;margin-bottom:60px;width:200px;margin-right: 10px;}

#scroller{position: fixed;background: #f0f0f0;padding: 10px;box-shadow: 0 0 10px 1px #eee;-webkit-box-shadow: 0 0 10px 1px #eee;-moz-box-shadow: 0 0 10px 1px #eee;border: 1px solid #e8e8e8;margin-top: 15px;}
#scroller li{font-weight: bold;padding: 5px 0;}

.subheader{border-bottom:1px solid #cccccc;height:34px;clear:both;padding-left: 20px;}
.subheader h1,.subheader h2{font-size:18px;line-height:34px;margin-bottom:0px;}
.subheader a{color:#000000;}
.wmd-preview li{word-wrap:break-word;}
.post-text li pre,.wmd-preview li pre{word-wrap:normal;}
.wmd-preview img{max-width:640px;}
.wmd-preview h1,.wmd-preview h2,.wmd-preview h3{margin-bottom:1em;}

.share-more{display: none;}
.show-more{display: none;}

#mainbar h2{text-align: left;margin: 15px 0 5px;}
a{text-decoration: none;}