
.wmd-panel
{
/*	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
	min-width: 500px; */
}

#wmd-editor
{
/*	background-color: Aquamarine; */
}

.wmd-button-bar 
{
	width: 100%;
	/*
	background-color: Silver; 
	*/
}

.wmd-input 
{ 
/*	height: 500px;
	width: 100%;
	background-color: Gainsboro;
	border: 1px solid DarkGray; */
}

.wmd-preview 
{ 
	moz-border-radius: 5px;
	-web-kit-radius: 5px;
	border-radius: 5px;
	padding: 1px;
	border: 1px dotted #CCC;
	padding: 0 5px;
}

.wmd-output 
{ 
	background-color: Pink;
}

.wmd-button-row 
{
	position: relative; 
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 10px;
	padding: 0px;  
	height: 20px;
}

.wmd-spacer
{
	width: 1px; 
	height: 20px; 
	margin-left: 14px;
	
	position: absolute;
	background-color: Silver;
	display: inline-block; 
	list-style: none;
}

.wmd-button
{
	width: 20px; 
	height: 20px; 
	margin-left: 5px;
	margin-right: 5px;
	
	position: absolute;
	background-image: url(images/wmd-buttons.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: inline-block; 
	list-style: none;
}

.wmd-button > a
{
	width: 20px; 
	height: 20px; 
	margin-left: 5px;
	margin-right: 5px;
	
	position: absolute;
	display: inline-block; 
}


/* sprite button slicing style information */
.wmd-bold-button    {left: 0px;   background-position: 0px 0;}
.wmd-italic-button  {left: 25px;  background-position: -20px 0;}
.wmd-spacer1        {left: 50px;}
.wmd-link-button    {left: 75px;  background-position: -40px 0;}
.wmd-quote-button   {left: 100px;  background-position: -60px 0;}
.wmd-code-button    {left: 125px;  background-position: -80px 0;}
.wmd-image-button   {left: 150px;  background-position: -100px 0;}
.wmd-spacer2        {left: 175px;}
.wmd-olist-button   {left: 200px;  background-position: -120px 0;}
.wmd-ulist-button   {left: 225px; background-position: -140px 0;}
.wmd-heading-button {left: 250px; background-position: -160px 0;}
.wmd-hr-button      {left: 275px; background-position: -180px 0;}
.wmd-spacer3        {left: 300px;}
.wmd-undo-button    {left: 325px; background-position: -200px 0;}
.wmd-redo-button    {left: 350px; background-position: -220px 0;}
.wmd-help-button    {right: 0px; background-position: -240px 0;}


.wmd-prompt-background
{
	background-color: Black;
}

.wmd-prompt-dialog
{
	border: 1px solid #999999;
	background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
	font-size: 0.8em;
	font-family: arial, helvetica, sans-serif;
}


.wmd-prompt-dialog > form > input[type="text"] {
	border: 1px solid #999999;
	color: black;
}

.wmd-prompt-dialog > form > input[type="button"]{
	border: 1px solid #888888;
	font-family: trebuchet MS, helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
}


/* Pretty printing styles. Used with prettify.js. */

.str { color: #080; }
.kwd { color: #008; }
.com { color: #800; }
.typ { color: #606; }
.lit { color: #066; }
.pun { color: #660; }
.pln { color: #000; }
.tag { color: #008; }
.atn { color: #606; }
.atv { color: #080; }
.dec { color: #606; }
pre.prettyprint { padding: 2px; border: 1px solid #888; }

@media print {
  .str { color: #060; }
  .kwd { color: #006; font-weight: bold; }
  .com { color: #600; font-style: italic; }
  .typ { color: #404; font-weight: bold; }
  .lit { color: #044; }
  .pun { color: #440; }
  .pln { color: #000; }
  .tag { color: #006; font-weight: bold; }
  .atn { color: #404; }
  .atv { color: #060; }
}

pre code {
	display: block;
	font-size: 13px;
}

code {
	background-color: #e0e8f0;
	padding: 2px 5px;
}
