/* Online Exam css*/
body
{
	margin: 0 auto;
	padding: 0;
	background-color: #fff;
	font-family:Arial, Helvetica, sans-serif;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
a{ outline: 0; }
img{ border-style: none; }
.rounded
{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 1px;
	border:1px solid #ccc;
}
.alink {color: #0066aa; font-size:12px; text-decoration:none;}
.alink:hover { color: green; font-size:12px; text-decoration:none;}
#line { background:#f9f9f9; height:2px; display:block; width:100%}

#outerwrapper
{
	width: 980px;
	margin: 0 auto;
	background-color:#f2f2f2;
	-moz-border-radius: 5px;
	-web-kit-radius: 5px;
	border-radius: 5px;
	border:1px solid #999;
}

/* Header Css*/

#header
{
	border: 1px solid #ccc;
	background-color:white;
	margin: 2px;
	padding: 20px 2px;
	height: auto;
	width:950px;
	margin:2px auto;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	color: #888888;
	padding-bottom: 5px;
}

.headerlinks
{
	margin: 0 auto;
	text-align:right;
	padding-bottom:15px;
}


.headerlinks li
{
	display: inline;
	list-style-type: none;
	padding-right: 10px;
}

.headerlinks li a
{
	color: #bbb;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
}

.headerlinks li a:link
{
	color: #bbb;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
}

.headerlinks li a:visited, .headerlinks  li a:active
{
	color: #bbb;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
}

.headerlinks li a:hover
{
	color: #fffccc;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-decoration:none;
}


#searchbar
{
	border-bottom:1px solid #ddd;
	margin: 0px 4px 0px 2px;
	text-align:right;
	padding-bottom:5px;
	
}
input#search {color: #bbb; padding:2px;}
#gobutton 
{ 
 	background-color: #919191;
    border: medium none;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.6em;
    font-weight: bold;
    padding: 3px;
    text-align: center;
}

#timer
{
	text-align:right;
	font-size:14px;
	font-weight:bold;
	color: #bf3030;
}

.buttons
{
	background: url('../images/registration_back.gif');
	color: #FFFFCC;
	padding:5px;
	font-weight: bold;
	margin:0px;
	border:none;
	font-size: 13px;
	text-decoration:none;
	-moz-border-radius: 5px;
	-web-kit-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
}

/* Content Css*/

#content
{
	background-color:#fff;
	margin: 2px auto;
	padding: 10px;
	border: 1px solid #ccc;
	width:933px;
}

#content h2 { color:#555;text-align: center;}

#content p {  /* font-family:Arial, Helvetica, sans-serif; font-size: 12px; color: #666; */}

#tbl_empdetails_wrapper, #logintable_wrapper
{
	background-color: #f1f1f1;
	border: 1px solid #999;
	width:400px;
	/*height:200px;*/
	margin:auto;
	padding:10px;
}

#tbl_candidatedetails, #logintable
{
	border: 0 none;
    font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
    padding: 0;
	margin-top:10px;
	width: 395px;
}

#mandatory{ font-family: Arial, Helvetica, sans-serif; font-size:11px; }

.red {color: #FF0000; margin-left:5px;}
.green { color:#339966;}

.textfield { padding:4px; }

.bgblue {background: #f0f9ff; color:#6784c9; display:block; border:1px solid #f0f9ff; padding:5px;  font-size:14px; font-weight: bold; border:1px solid #BCE4FF;}

.questions
{
	margin: 0px 0px 0px 5px;
	padding:0px;
	/*border:1px solid red;*/
	height:25px;
}


.questions li
{
	display: inline;
	list-style-type: none;
	text-align:center;
	padding:0px 2px 3px 2px;
	border: 1px solid #BCE4FF;
}

.questions li a:link
{
	color: #bbb;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	display:inline;
	padding: 1px 5px;
	
}

.questions li a:visited, .questions li a:active
{
	color: #000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	/*padding: 2px 5px 5px 5px;*/
	padding: 1px 5px;
}
.questions li a:hover
{
	color: #fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	display:inline;
	background-color:#3399FF
	
}

#questions_wrapper{ height: 250px; font-family:Arial, Helvetica, sans-serif; color:#333;}

#test_question_paper
{
	background-color:#fff;
	margin: 10px;
	padding: 10px;
	border:1px solid #e1e1e1;
	height:100%;
	color:#666699;
}

#test_question_paper p { font-family:Arial, Helvetica, sans-serif; font-size:14px; letter-spacing:.2pt; color:#666699;}

#tbl_single_question { font-family:Arial, Helvetica, sans-serif; font-size:14px; letter-spacing:.2pt; color:#996699;}
.guidelines
{
	text-align:left;
	padding-bottom:12px;
	list-style-image: url('../images/carot2.gif');
}

.guidelines li
{
	font-size:13px;	
	padding:5px;
}

.border_blue {border:1px solid #BCE4FF; padding:5px;}

#tbl_dashboard, #tbl_preferences { font-size:14px; color: #666;}


.dashboard_menus
{
	margin: 10px 0px 0px 5px;
	padding:0px;
	/*border:1px solid red;*/
	height:25px;
}


.dashboard_menus li
{
	display: inline;
	list-style-type: none;
	text-align:center;
	/*padding:0px 2px 3px 2px;*/
	
	/*border: 1px solid #BCE4FF;*/
}

.dashboard_menus li a:link
{
	color: #000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	display:inline;
	/*padding: 1px 5px;*/
	
}

.dashboard_menus li a:visited, .dashboard_menus li a:active
{
	color: #565656;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	/*padding: 2px 5px 5px 5px;*/
	/*padding: 1px 5px;*/
	padding:3px;
}
.dashboard_menus li a:hover
{
	color: #000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	display:inline;
	/*background-color:#88C2FC;*/
	background-color:#b3def4;
	
}

/*.preferences_leftnavigation {text-align:left;	padding-bottom:12px; padding:0px; margin:0px -5px 0px 0px;}
.preferences_leftnavigation .active { background-color:red; display:block;}
.preferences_leftnavigation li {padding:2px; list-style-type:none; background-color:#f3f3f3; margin:2px;}
.preferences_leftnavigation li a:link, a.active {font-size:12px; padding:5px; color:#777; text-decoration:none; font-weight:bold;}
.preferences_leftnavigation li a:active, .preferences_leftnavigation li a:visited {font-size:12px; padding:5px; color:#777; text-decoration:none; font-weight:bold;}
.preferences_leftnavigation li a:hover {font-size:12px; padding:5px; color:#AF5403; text-decoration:none; font-weight:bold;}*/


ul.preferences_leftnavigation{
    display: block;
    width: 120px;
    /*background-color: Silver;*/
    list-style-type: none;
    padding-top: 19px;
    padding-bottom: 40px;
	margin:0px;
	padding-left:5px;  
}
ul.preferences_leftnavigation li{
    width: 120px;
	text-align:left;

    margin-bottom: 6px;
}
ul.preferences_leftnavigationli a,
ul.preferences_leftnavigation li a:visited {
    display: block;
    color: white;
    background-color: #bbb;
    /*margin-left: 10px;*/
    padding: 5px 2px 5px 5px;
    text-decoration: none;
    border-right: 1px solid #999;
}
ul.preferences_leftnavigationli.active a,
ul.preferences_leftnavigation li.active a:hover,
ul.preferences_leftnavigation li.active a:visited,
ul.preferences_leftnavigation li a:hover {
    display: block;
    color: black;
	padding: 5px 2px 5px 5px;
    background-color: #efefef;
	/*border-top: 1px solid #ccc;*/
    border-right: 1px solid #efefef;
	/*border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;*/
}

#dashboard_iframe { margin:0px; padding:0px;}
#questions_iframe { margin:0px; padding:0px;}


#tbl_testdetails
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}

#tbl_testdetails .subheading { font-size:12px; color: #af5403; font-weight:bold;}

#results_wrapper
{
	background-color:#fff;
	padding:5px;
	margin: 10px;
}

#tbl_resultinfo { font-size:14px; color: #666;}

#txt {
  border:none;
  font-family:verdana;
  font-size:12px;
  font-weight:bold;
  /*border-right-color:#FFFFFF;*/
}

#tbl_search_reports, #tbl_reports, #tbl_download_reports { font-size:12px;}

.tblheading {background-color:#fff; font-size:14px; color: #af5403; font-weight:bold; text-align:center;}
.tdbggrey {background-color:#F3F3F3; font-size:14px; color: #333333; text-align:center;}
.tdbgwhite {background-color:#ffffff; font-size:14px; color: #333333; text-align:center;}

#discussion
{
	padding:5px;
	border: 1px solid #C9E3FC;
	background-color:#f0f9ff;
	-moz-border-radius: 5px;
	-web-kit-radius: 5px;
	border-radius: 5px;
}

/*** Form css***/

legend {color:#af5403; margin-left:8px;}

.normal
{ 
	background-color:#fff; 
	border:1px solid #ccc; 
	padding:4px; 
	-moz-border-radius: 5px; 
	-web-kit-radius: 5px;
	border-radius: 5px;
}
.focus
{ 
	background-color:#EFFFF0; 
	border:1px solid #ccc; 
	padding:4px; 
	-moz-border-radius: 5px; 
	-web-kit-radius: 5px;
	border-radius: 5px;
}

/**********pagination*********/
div.pagination {
	padding: 3px;
	margin: 3px;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #2E6AB1;
	text-decoration: none; /* no underline */
	color: #2E6AB1;
	float: left;
}
div.pagination a:hover, div.pagination a:active {
	font-weight: bold;
}
div.pagination span.current {
	padding: 2px 7px 2px 7px;
	margin: 2px;
	border: 1px solid #dddddd;
	font-weight: bold;
	background-color: #EFEFF5;
	color: #1C94C4;
	float: left;
}
div.pagination span.disabled 
{
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #EEE;
	color: #DDD;
}
	

/*ul{border:0; margin:0; padding:0;}
#pagination
{
	text-align:right;
	border:0; margin:0; padding:0;
}

#pagination li{
border:0; margin:0; padding:0;
font-size:11px;
list-style:none;
margin-right:2px;
}
#pagination li a{
margin-right:2px;
border:solid 1px #0e509e;
}
#pagination .previous-off,
#pagination-digg .next-off {
border:solid 1px #DEDEDE;
color:#888888;
display:block;
float:left;
font-weight:bold;
margin-right:2px;
padding:3px 4px;
}
#pagination.next a,
#pagination .previous a {
font-weight:bold;
}
#pagination .active{
background:#2e6ab1;
color:#FFFFFF;
font-weight:bold;
display:block;
float:left;
padding:4px 6px;
}
#pagination li a:link,
#pagination li a:visited {
color:#2966a9;
display:block;
float:left;
padding:3px 6px;
text-decoration:none;
}
#pagination li a:hover{
background-color: #2e6ab1;
color:#fff;
}
*/
.zebra { 
  background-color: #dddddd;
  color: #666666;
}

tr.zebraHover {
  background-color: #FFFACD;

}
#tbl_totalquestions
{
color:#333;
font-family:arial,sans-serif;
font-size:15px;
width: 100%;
}

.currentTd
{
	background: #1C94C4;
	color: #efeff5;
	padding: 5px 15px;
	font-weight: bold;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
	font-size: 12px;	
}

a.other
{
	text-decoration: none;
	cursor:pointer;
	display: block;
	color: #1C94C4;
	padding: 5px 15px;
	background: #efeff5;
	font-weight: bold;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
	font-size: 12px;
}
a.other:HOVER
{
	color: #f5f5ee;
	background: #2EA6D6;
}

.match_tab
{
	width: 500px;
	padding: 20px;
	border-collapse: collapse;
	border: 1px solid #e5e5e5;
}
.match_tab td
{
	border: 1px solid #e5e5e5;
	width: 50%;
}
#header
{
	border: 1px solid #ccc;
	background-color:white;
	margin: 2px;
	padding: 20px 2px;
	height: auto;
	width:950px;
	margin:2px auto;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	color: #888888;
}
#content
{
	background-color:#fff;
	margin: 2px auto;
	padding: 10px;
	border: 1px solid #ccc;
	width:933px;
}
div.pagination a.attepmted
{
	background: #2E6AB1;
	color: white;
}

a.ques-nav-link
{
	text-decoration: none;
	cursor: pointer;
	color: #1C94C4;
}
a.ques-nav-link:HOVER
{
	text-decoration: underline;
}
a.attempted-que-link
{
	color: #1E5A31;
}
a.current-que-link
{
	color: black;
	font-weight: bold;
}
#low-time-note
{
	position: absolute;
	margin-left: 320px;
}
#mark_review
{
	padding: 5px;
	font-weight:bold;
	background-color: #eeffee;
	border: 1px solid #aaaaaa;
}
#mark_review:HOVER
{
	color: #008800;
}
#unmark_review
{
	padding: 5px;
	font-weight:bold;
	background-color: #ffeeee;
	border: 1px solid #aaaaaa;
}
#unmark_review:HOVER
{
	color: #880000;
}
div.pagination a.review-question
{
	color: #ff8888;
	font-weight: bold;
}