#main {
	border: 1px solid #666;
	clear: both;
	/*background: #FFF3B3;*/
	background: #f0f9ff;
	padding-top: 2em;
}

#contents {
	padding: 0.5em;
	/*background: #FFFDF3;*/
	background: #FFF;
	min-height: 300px;
}

#tabs-header {
	position: relative;
	width: 100%;
	height: 2em;
	/* width: 45em; a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
	width: 65em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#tabs-header ul#primary {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: -1px;
	/*width: 45em;  a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
	width: 75em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#tabs-header ul#primary li  {
	display: inline;
	list-style: none;
}

#tabs-header ul#primary a,#tabs-header ul#primary span,#tabs-header ul#primary a.current {
	width: 10em;
	display: block;
	float: left;
	padding: 4px 0;
	margin: 1px 2px 0 0;
	text-align: center;
	font-family: tahoma, verdana, sans-serif;
	/*font-size: 85%;*/
	font-size: 90%;
	text-decoration: none;
	color: #333;
}

#tabs-header ul#primary span,#tabs-header ul#primary a.current,#tabs-header ul#primary a.current:hover {
	border: 1px solid #666;
	border-bottom: none;
	/*background: #FFF3B3;
	background: #f0f9ff;*/
	background: #f0f9ff;
	padding-bottom: 6px;
	margin-top: 0;
	font-weight: bold;
	color:#6784C9;
}

#tabs-header ul#primary a {
	/*background: #FFFAE1;*/
	background: #C4E7FF;
	border: 1px solid #AAA;
	border-bottom: none;
}

#tabs-header ul#primary a:hover {
	margin-top: 0;
	border-color: #666;
	/*background: #FFF7CD;*/
	background: #C4E7FF;
	padding-bottom: 5px;
}

#tabs-header ul#secondary {
	position: absolute;
	margin: 0;
	padding: 0;
	/*bottom: -1.4em;*/
	bottom: -1.6em;
	left: 1px;
	width: 50em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#tabs-header ul#secondary li a,#header ul#secondary li span {
	width: auto;
	display: block;
	float: left;
	padding: 0 10px;
	margin: 0;
	text-align: auto;
	border: none;
	border-right: 1px dotted #AAA;
	background: none;

}

#tabs-header ul#secondary li a {
	color: #06C;
	/*text-decoration: underline;*/
}

#tabs-header ul#secondary li a:hover {
	color: #333;
	background: transparent;
	padding: 0 10px;
	border: none;
	border-right: 1px dotted #AAA;
}

#tabs-header ul#secondary li a:active {
	color: #000;
	background: transparent;
}

#tabs-header ul#secondary li:last-child a { border: none; }